@media (min-width: 768px) {
    .site_header, .slide_section, .menu_bar, #section_1, #section_2, #section_3, #footer_section {
        width: 1280px;
    }
    #section_2 .section_body .item .inner_item {
        height: 303px;
        padding: 20px;
    }
}
#section_2 .section_body .item .inner_item .title {
    font-weight: 600;
}
#section_2 .section_body .item .inner_item .desc{
    font-weight: 400;
}
#section_2 .section_body .item .inner_item .desc, #section_2 .section_body .item .inner_item .title {
    color: #000;
}

/*Update desing css 24-Sep-2017*/
p.item-title.title_3.no_padding{
  padding-top: 0px !important;
}
.ls-2{
  letter-spacing: -2px !important;
}
p.item-title.title_4._height{
  height: 80px !important;
}
p.f14{
  font-size: 14px !important;
}
:focus{
  outline: none;
}
#section_3 {
    padding-top: 73px !important;
    padding-bottom: 127px !important;
    position: relative;
}
.section_title{
  text-align: center;
  color: #0055b9;
  font-size: 22px;
}
.section_content{
  width: 74%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3.6%;
  padding-bottom: 10.9%;
}
.map{
  float: left;
  width: 50%;
}
.address{
  float: left;
  width: 50%;
}
.company_address{
  color: #0055b9;
  font-size: 13px;
  margin-left: 9%;
  line-height: 21px;
  letter-spacing: 1.5px;
}
.scroll_top{
  position: absolute;
  bottom: 49px;
  right: 42px;
}
.scroll_top:hover{
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}
/*Bannner Caption News & media section*/
.slide_section.row{
  position: relative;
}
.news_media{
  position: absolute;
  display: flex;
  width: 68.3%;
  height: 59px;
  background-color: rgba(255, 255, 255, .9);
  bottom: 25px;
  color: #0055b9;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding: 1% 0%;
  left: 14.5%;
  line-height: 18px;
}
.news{
  padding: 0px 15px;
  width: 50%;
  text-align: center;
  padding-right: 4px;
}
._media{
    padding: 0px 15px;
    width: 50%;
    text-align: right;
}
small._p6{
  padding-right: 6%;
}
small._p5{
  padding-right: 5%;
}
.slide_section .left_slide .left_banner{
  bottom: 170px !important;
  left: 32px !important;
}
.slide_section .right_slide .right_banner{
  bottom: 170px !important;
  right: 29px !important;
}
.foot_btn {
    margin: 21px 62px !important;
}
.menu_bar ul li{
  margin-right: 0px !important;
}
/*Modify footer 28 Sep 2017*/
#footer_section .section_body .footer_nav_menu li:nth-child(1){
  width: 22%;
}
#footer_section .section_body .footer_nav_menu li:nth-child(3) {
    width: 22%;
}
#footer_section .section_body .footer_nav_menu li:nth-child(4) {
    width: 15%;
}
#footer_section .section_body .footer_nav_menu li:nth-child(5) {
    width: 15%;
}
#footer_section .section_body .footer_bottom_section .footer_content h3 {
    font-size: 15px !important;
}
/*=====================
  Conatact page
  ========================*/
  header.contactHeader{
    font-size: 11px;
    margin: 0 auto;
    position: relative;
    width: 1280px;
  }
  .headerContents {
    padding: 26px 80px 0 59px;
    width: 1140px;
    color: #0055be;
  }
  .headerContents img {
      display: inline-block;
      width: 125px;
      height: auto;
      max-width: 100%;
  }
  .headerContents>a{
    color: #468cd0;
    text-decoration: none;
  }
  #container {
      margin: 0 auto;
      width: 1280px;
  }
  .mainContact {
    margin-bottom: -18px !important;
  }
  ::-webkit-input-placeholder {
    color: #468cd0;
  }
  .contactBox {
    color: #468cd0;
    font-size: 19.8px;
    margin: 0 0 0 242px;
    padding: 50px 0 30px;
    width: 954px;
    color: #468cd0;
    font-size: 19.8px;
  }
  .contact_title {
    font-size: 32.5px;
    letter-spacing: 2.8px;
    margin: 9px 0 61px;
  }
  .contact_title>h1{
    font-size: 100%;
    font-weight: normal;
  }
  .contact_type {
    padding-bottom: 5px;
  }
  .contact_type label {
    cursor: pointer;
    display: inline-block;
    margin-right: 35px;
    margin-top: 6px;
    padding-left: 1px;
  }
  .styledRadio {
    display: inline-block;
  }
  .contact_frm input, textarea {
      border: 1px solid #468cd0;
      font-size: 19.8px;
      color: #468cd0;
  }
  .contact_radio_text {
    left: 43px;
    margin-right: 35px;
    position: relative;
    top: -42px;
  }
  .contact_radio2 {
    margin-right: 39px !important;
  }
  .contact_radio2 .contact_radio_text {
      letter-spacing: 1px;
  }
  .contact_radio2 .contact_radio_text {
    letter-spacing: 1px;
  }
  .contactBox .inputBox {
      padding-left: 1px;
      position: relative;
      top: -52px;
  }
  .inputBox label {
    display: block;
    margin: 21px 0 7px;
  }
  .contact_label {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .contactBox input#name {
    letter-spacing: 0 !important;
  }
  .contactBox input[type="text"], .contactBox input[type="email"], .contactBox input[type="tel"], .contactBox textarea {
      font-size: 21px;
      padding: 6px 0 9px 12px;
      width: 956px;
  }
  .contactBox .mail {
      font-size: 12.5px;
      letter-spacing: -1px !important;
  }
  .contactBox input[class="mail"] {
      font-size: 20.6px;
      letter-spacing: -1.3px !important;
  }
  .contactBox input[type="text"], .contactBox input[type="email"], .contactBox input[type="tel"], .contactBox textarea {
      font-size: 21px;
      letter-spacing: 0;
      padding: 6px 0 9px 12px;
      width: 956px;
  }
  .contactBox .tel {
      margin-top: 23px;
  }
  .contactBox input#tel {
      letter-spacing: 0 !important;
  }
  .contact_frm input#tel {
    letter-spacing: 1.4px;
    padding-bottom: 8px;
  }
  .contactBox .textarea .contact_label {
      margin: 50px 0 7px;
  }
  .contactBox #textContent {
      height: 245px;
      letter-spacing: 0 !important;
      margin: 0 1px 2px;
      padding: 7px 12px 8px;
  }
  .contactBox input[type="submit"] {
      background-color: #0055be;
      color: #ffffff;
      font-size: 19px;
      letter-spacing: 2px;
      margin-top: -30px;
      padding: 7px 74px;
  }
 .contact_frm input[type="submit"] {
      text-align: center;
      width: 211px;
      height: 43px;
  }
  .contact_frm button, input[type="submit"] {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: 0 none;
      cursor: pointer;
      margin: 0;
      overflow: visible;
  }
.news_media_section{
  width: 954px;
  max-height: 0 auto;
  display: flex;
}
.news_section{
  flex-basis: 50%;
}
.media_section{
  flex-basis: 50%
}
.news_section>h1,
.media_section>h1{
  font-size: 32.5px;
  letter-spacing: 2.8px;
  color: #468cd0;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 30px;
}
ul.news_link {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.news_link_list{
  display: flex;
  align-items: baseline;
}
p.date{
  padding: 0;
  margin: 0px;
  font-size: 13px;
  flex-basis: 20%;
}

ul.news_link li{
  flex-basis: 80%;
  padding-right: 10%;
}
ul.news_link a{
  font-size: 10px;
  text-decoration: none;
  font-weight: 500;
  color: #0055be;
}
ul.news_link a:hover{
  color: #000000;
  transition: 0.3s;
  font-weight: 700;
}






/*Modify desing for sp 24 Sep 2017*/
@media (max-width: 768px){
  .news_media{
    display: none;
  }
img.canpassapp.ehouse{
  width: 30px !important;
}
img.stBox{
  width: 100px !important;
}
img.ct{
  width:139px !important;
}
.inner_item.visible-xs.mt3 {
    margin-top: 3%;
}
img.sl{
  width: 155px !important;
}
img.ttc{
  width: 95px !important;
}
.section_content{
  width: 90%;
}
.map {
    float: right;
    width: 100%;
    max-width: 100%;
}
.map>img{
  max-width: 100%;
}
.company_address {
    margin-left: 0;
    margin-top: 10%;
}

}
/**/
