.main-fonts {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
}

@font-face {
  font-family: 'rounded-mplus-1c-thin';
  src: url('../fonts/rounded-mplus-1c-thin.ttf');
}

body {
  margin: 0;
  padding: 0;
}
a:hover, a:active, a:focus{
    text-decoration: none;
}


/*
Page Loading Animation
*/
.load {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #ffffff;
    /*display: none;*/
}
.cssload-box-loading {
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.cssload-box-loading:before {
    content: '';
    /*width: 200px;*/
    height: 5px;
    background: #000000;
    opacity: 0.1;
    position: absolute;
    top: 58px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.58s linear infinite;
    -o-animation: shadow 0.58s linear infinite;
    -ms-animation: shadow 0.58s linear infinite;
    -webkit-animation: shadow 0.58s linear infinite;
    -moz-animation: shadow 0.58s linear infinite;
}

.cssload-box-loading:after {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    background-image: url(../images/indicator.png);
    background-size: cover;
    animation: spin 1.58s linear infinite;
    -o-animation: spin 1.58s linear infinite;
    -ms-animation: spin 1.58s linear infinite;
    -webkit-animation: spin 1.58s linear infinite;
    -moz-animation: spin 1.58s linear infinite;
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
    0% {-ms-transform: rotate(0deg);}
    100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
    0% {-o-transform: rotate(0deg);}
    100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}
@-o-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -o-transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {
        -o-transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -o-transform: translateY(0) rotate(90deg);
    }
}
@-ms-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -ms-transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {
        -ms-transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -ms-transform: translateY(0) rotate(90deg);
    }
}
@-webkit-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -webkit-transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {
        -webkit-transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
    }
}
@-moz-keyframes cssload-animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -moz-transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {
        -moz-transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -moz-transform: translateY(0) rotate(90deg);
    }
}
@keyframes shadow {
    0%,
    100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}
@-o-keyframes shadow {
    0%,
    100% {
        -o-transform: scale(1, 1);
    }
    50% {
        -o-transform: scale(1.2, 1);
    }
}
@-ms-keyframes shadow {
    0%,
    100% {
        -ms-transform: scale(1, 1);
    }
    50% {
        -ms-transform: scale(1.2, 1);
    }
}
@-webkit-keyframes shadow {
    0%,
    100% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1);
    }
}
@-moz-keyframes shadow {
    0%,
    100% {
        -moz-transform: scale(1, 1);
    }
    50% {
        -moz-transform: scale(1.2, 1);
    }
}

.hover-down,.land_content_2 p {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hover-down:hover {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}
.land_content_2:hover p {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}
.container {
    position: relative;
    overflow: hidden;
}
.section {
  padding: 70px 0;
}
@media (min-width: 769px) {
  .container {
    width: 1280px;
  }
}
.padding-0 {
  padding: 0;
}
.padding-right-0 {
  padding-right: 0;
}
.padding-left-0 {
  padding-left: 0;
}
.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.site_header {
  width: 100%;
}
.site_header {
  padding-bottom: 36px;
}
.site_header .site_logo img {
  margin-left: 18px;
  margin-top: -3px;
    width: 83.3%;
}
.site_header .site_title {
  padding-top: 30px;
  padding-left: 28px;
  padding-right: 28px;
    position: relative;
    visibility: hidden;
}
.site_header .site_title span {
  font-size: 6.1em;
  font-weight: normal;
  letter-spacing: 5px;
  color: #0055B3;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
}

.site_header .site_title .tagline {
    position:absolute;
    width:100%;
    height:100%;
}

.site_header .site_title .tagline span.top-text-img-1 {
    width: 36.3%;
    margin: -27px 0px 0px -4px;
}

.site_header .site_title .tagline span.top-text-img-2 {
  width: 22.5%;
  margin: -26px 0px 0px 19px;
}

.site_header .site_title .tagline span.top-text-img-3 {
  width: 28.8%;
  margin: -27px 0px 0px 23px;
}

.site_header .site_title .tagline span {
    display: inline-block;
    position: relative;
}

.site_header .site_title img {
  width: 100%;
}
.left_right_banner {
  position: absolute;
  bottom: 104px;
  z-index: 99;
  background: #ededef;
  padding: 15px 12px 18px 0px;
  width: 185px;
  height: 270px;
}
.banner_btn_var {
  position: relative;
  text-align: center;
}
.banner_btn_var img {
  width: 98%;
  margin: 0 auto;
  padding-top: 19px;
  padding-left: 12px;
}
.banner_btn {
    border-color: #0055B3;
    color: #fff;
}
.slide_section .left_slide {
   padding: 0;
 }
.slide_section .left_slide img {
  width: 100%;
}
.slide_section .left_slide .left_banner {
  position: absolute;
  bottom: 104px;
  z-index: 99;
  background: #ededef;
  padding: 15px 12px 18px 0px;
  width: 185px;
  height: 270px;
  left: 31px;
  visibility: hidden;
}
.slide_section .left_slide .left_banner img.left_btn_img {
    /*margin-left: -3px;*/
    margin-top: 20px;
    width: 97%;
    position: absolute;
    left: 2px;
    top: 0;
}
 .banner_btn {
  position: relative;
  text-align: center;
    /*background: #0055b3;*/
     display: block;
     border: none;
    /*margin-top: 18px;*/
     /*padding-right: 20px;*/
     padding-bottom: 9px;
     padding-top: 9px;
     margin-left: 11px;
    font-size: 14px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
     -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
     -ms-transition: all 0.2s linear 0s;
     -o-transition: all 0.2s linear 0s;
     transition: all 0.2s linear 0s;
}
 .banner_btn img {
     -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
     -ms-transition: all 0.2s linear 0s;
     -o-transition: all 0.2s linear 0s;
     transition: all 0.2s linear 0s;
 }
.banner_btn .hover_img {
    opacity: 0;
}
.banner_btn:hover img{
    opacity: 0;
}
.banner_btn:hover .hover_img{
    opacity: 1;
}
  .icon {
    /*position: absolute;*/
    right: 15px;
    top: 35px;
     padding: 0 !important;
    width: auto !important;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-transition-duration: 0.1s;
     transition-duration: 0.1s;
     -webkit-transition-property: transform;
     transition-property: transform;
     -webkit-transition-timing-function: ease-out;
     transition-timing-function: ease-out;
}
  .banner_btn .icon {
      position: absolute;
  }
.banner_btn:hover .icon{
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}
.banner_btn:hover {
    /*color: red;*/
    /*background: #0055b3;*/
}
.slide_section .left_slide .left_banner .elements {
    padding-left: 16px;
     position: relative;
    width: 100%;
 }
 .slide_section .left_slide .left_banner .elements .grade_1{
       margin-left: 4px;
  }
.slide_section .left_slide .left_banner .elements span {
    display: inline-block;
    margin-bottom: 11px;
    position: relative;
    /*opacity: 0;*/
 }
.slide_section .left_slide .left_banner .elements span img {
     width: 100%;
 }
.slide_section .left_slide .left_banner .elements .animate_part span:last-child {
    margin-bottom: 0;
}
/*.slide_section .left_slide .left_banner .elements span:nth-child(4) img{*/
    /*width: 66%;*/
/*}*/
/*.slide_section .left_slide .left_banner .elements span:nth-child(5) img{*/
    /*width: 66%;*/
/*}*/
/*.slide_section .left_slide .left_banner .elements span:last-child {*/
    /*margin-bottom: 0;*/
/*}*/
/*.slide_section .left_slide .left_banner .elements img {*/
    /*width:50%;*/
/*}*/

.right_slide .animate_part {
    margin-top: -8px;
}
.right_slide .animate_part span:nth-child(3){
    padding-top: 6px;
}
.left_slide .animate_part {
    margin-top: 3px;
}
.left_slide .animate_part span:nth-child(2){
    padding-top: 8px;
}
.left_slide .animate_part span:nth-child(3){
    padding-top: 4px;
}



.slide_section .right_slide .right_banner .elements {
    padding-left: 3px;
    position: relative;
    width: 100%;
}
.slide_section .right_slide .right_banner .elements span {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
}
.slide_section .right_slide .right_banner .elements span img {
     width: 100%;
 }
.slide_section .right_slide .right_banner .elements .animate_part span:last-child {
    margin-bottom: 0;
}

.slide_section .right_slide {
   padding: 0;

}
.slide_section .right_slide .slide_inner{
  /*right: -150%;*/
  /*position: relative;*/
}
.slide_section .left_slide .slide_inner{
  /*left: -150%;*/
  /*position: relative;*/

}
.slide_section .left_slide .left_banner .banner_btn .icon {
    left: 84%;
}

.slide_section .right_slide img {
  width: 100%;
}
.slide_section .right_slide .left_banner {
  position: absolute;
  bottom: 104px;
  z-index: 99;
  background: #ededef;
  padding: 15px 12px 18px 0px;
  width: 185px;
  height: 270px;
  left: 31px;
}
.slide_section .right_slide .left_banner img {
  margin-left: -4px;
  margin-top: -2px;
}

.slide_section .right_slide img {
  width: 100%;
}
.slide_section .right_slide .right_banner {
  position: absolute;
  bottom: 104px;
  z-index: 99;
  background: rgba(237,237,239,1);
  padding: 15px 12px 18px 0px;
  width: 185px;
  height: 270px;
  right: 30px;
    visibility: hidden;
}
.slide_section .right_slide .right_banner img {
  padding-left: 14px;
  margin-top: -3px;
}
.slide_section .right_slide .right_banner .banner_btn {
  position: relative;
  text-align: center;
    margin-top: 25px;
    margin-left: 11px;
    margin-right: -9px;
}
.slide_section .right_slide .right_banner .banner_btn img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.slide_section .right_slide .right_banner .banner_btn .icon{
    left: 80%;
    top: 14.4px;
}
.slide_section .right_slide .right_banner .banner_btn img {
    left: -12px;
}
.menu_bar {
  background: #0055b2;
}
.menu_bar ul {
  position: relative;
  margin: 0;
  text-align: center;
  list-style: none;
  padding: 0;
    margin-left: -3px;
}
.menu_bar ul li {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: -4px;
}

.menu_bar ul li a {
  font-family: 'rounded-mplus-1c-thin';
  display: block;
  text-align: center;
  color: #ffffff;
  border-left: 1px solid #ffffff;
  padding: 10px 0;
  margin: 10px 0;
  width: 210.1px;
  position: relative;
  letter-spacing: 1.1px;
}

.menu_bar ul li img {
  height: 14.5px;
}

.menu_bar ul li a:after {
    position: absolute;
    top: 100%;
    left: 0;
     width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.menu_bar ul li a:hover:after {
    height: 1px;
    opacity: 1;
    right: 0;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.menu_bar ul li:last-child a {
  border-right: 1px solid #ffffff;
}
#section_1 {
  padding: 70px 0;
  padding-bottom:50px;
}
#section_1 .theme_logo {
  /*visibility: hidden;*/
}
#section_1 .theme_logo img {
  margin-right: -39px;
  padding-top: 2px;
}
#section_1 .section_1_text {
  padding-left: 75px;
  padding-top: 1px;
}
#section_1 .section_1_text .para {
  padding-bottom: 45px;
  color: #0055b2;
}
#section_1 .section_1_text .para:last-child {
    height: 350px;
}
#section_1 .section_1_text .para:first-child p {
  font-weight: bold;
  font-size: 16px;
}
#section_1 .section_1_text .para p {
  font-size: 13.4px;
}
#section_2 {
  padding-top: 46px;
  background: #0055b2;
  padding-bottom: 74px;
}
#section_2 .section_title {
  text-align: center;
}
#section_2 .section_body {
  width: 76.2%;
  margin: 0 auto;
  padding-right: 7px;
  position: relative;
}
#section_2 .section_body .item_main_title {
  padding-bottom: 10px ;
}
#section_2 .section_body .item_main_title .title {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 6px 0;
  font-size: 11px;
  text-transform: uppercase;
  margin: 8px 0;
}
#section_2 .section_body .item_main_title.special_title {
  padding-left: 17px;
  padding-right: 16px;
}
#section_2 .section_body .item {
  position: relative;
  margin-bottom: 27px;
}
#section_2 .section_body .item .inner_item {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*overflow: hidden;*/
  height: 303px;
  padding: 20px;
 }
.coming_soon {
    position: absolute;
    right: -4px;
    top: -4px;
    width: 90px;

}
.coming_soon img {
    width: 100%;
}
#section_2 .section_body .item .inner_item .item-title {
  padding-top: 31px;
  height: 96px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#section_2 .section_body .item:hover .inner_item .item-title {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}
#section_2 .section_body .item .inner_item .item-title.title_2 {
  padding-top: 19px;
  padding-left: 3px;
}
#section_2 .section_body .item .inner_item .item-title.title_3 {
  padding-top: 27px;
  padding-left: 2px;
}
#section_2 .section_body .item .inner_item .item-title.title_6 {
  padding-top: 40px;
  padding-left: 7px;
}
#section_2 .section_body .item .inner_item .item-title.title_7 {
  padding-top: 14px;
  padding-left: 4px;
}
#section_2 .section_body .item .inner_item .item-title.title_8 {
  padding-top: 19px;
  padding-left: 3px;
}
#section_2 .section_body .item .inner_item .item-title.title_9 {
  padding-top: 35px;
  margin-left: -4px;
}
#section_2 .section_body .item .inner_item .item-title.title_10 {
  padding-top: 37px;
  padding-left: 3px;
}
#section_2 .section_body .item .inner_item .item-title.title_11 {
  padding-top: 25px;
}
#section_2 .section_body .item .inner_item .item-title.title_12 {
  padding-top: 34px;
  margin-left: -1px;
}
#section_2 .section_body .item .inner_item .content {
  margin-top: 20px;
}
#section_2 .section_body:after,
#section_2 .section_body:before {
  display: table;
  content: '';
}
#section_2 .section_body:after {
  clear: both;
}
#section_3 {
  background: #ffffff;
  padding-top: 56px;
  padding-bottom: 49px;
}
#section_3 .footer_button_section p {
  padding-left: 12px;
    position: relative;
}
.item a {
    text-decoration: none;
}
.item a:hover,.item a:focus {
    text-decoration: none;
}
#footer_section {
  padding: 70px 0;
  background: #0055b2;
  padding-top: 33px;
  padding-bottom: 18px;
}
#footer_section .section_body {
  width: 81.63%;
  margin: 0 auto;
  padding-right: 9px;
  position: relative;
}
#footer_section .section_body .footer_logo img {
    width: 78%;
    padding-top: 0;
}
#footer_section .section_body .footer_nav_menu {
  font-family: 'rounded-mplus-1c-thin';
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  margin-left: -3px;
  padding-right: 9px;
  padding-bottom: 3px;
  letter-spacing: 1.1px;
}
#footer_section .section_body .footer_nav_menu li {
  display: inline-block;
  width: 25%;
  border-left: 1px solid #ffffff;
  padding-top: 2px;
  margin-right: -4px;
}
#footer_section .section_body .footer_nav_menu li a {
  display: block;
  position: relative;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  line-height: normal;
  border: 0;
  text-align: center;
  color: #747474;
  cursor: pointer;
  transition: all .2s;
  position: relative;
}

#footer_section .section_body .footer_nav_menu li a:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
#footer_section .section_body .footer_nav_menu li a:hover:after {
    height: 1px;
    opacity: 1;
    right: 0;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}


#footer_section .section_body .footer_nav_menu li:last-child {
  border-right: 1px solid #ffffff;
}
#footer_section .section_body .footer_nav_menu:after,
#footer_section .section_body .footer_nav_menu:before {
  display: table;
  content: '';
}
#footer_section .section_body .footer_nav_menu:after {
  clear: both;
}
#footer_section .section_body .footer_bottom_section {
  margin-top: 25px;
}
#footer_section .section_body .footer_bottom_section .footer_content {
  padding-top: 15px;
  padding-left: 63px;
}
#footer_section .section_body .footer_bottom_section .footer_content p {
    margin: 0;
    font-size: 10px;
    color: #fff;
    letter-spacing: .5px;
}
#footer_section .section_body .footer_bottom_section .footer_content p:last-child {
  margin-top:0;
}
#footer_section .section_body .footer_bottom_section .box p {
    margin-left: 0;
    padding: 7px 8px 0 11px;
    color: #ffffff;
    font-size: 11px;
    margin-bottom: 0;
}
#footer_section .section_body .footer_bottom_section .footer_right_logo img {
  padding-left: 5px;
}
#footer_section .section_body:after,
#footer_section .section_body:before {
  display: table;
  content: '';
}
#footer_section .section_body:after {
  clear: both;
}
/*
==============
LANDING PAGE
==============
*/

#land_section_1 .box,#land_section_2 .box,
#land_section_3 .box,#land_section_4 .box,
#land_section_5 .box,#land_section_6 .box,
#land_section_7 .box {
    visibility: hidden;
}
.land_content p {
    /*opacity:0;*/
    margin: 0;
}
 #land_section_1 {
  background: url('../images/landing/section_1_img.png');
  background-repeat: no-repeat;
  height: 484px;
  overflow: hidden;
  position: relative;
}
#land_section_1.land_1 {
    height: 472px;
}
#land_section_1 .box {
  width: 320px;
  margin-left: 52%;
  margin-top: 17.3%;
}
#land_section_1.land_1 .box{
    margin-top: 16.6%;
}
#land_section_1 .box .land_content {
  padding-top: 9px;
  padding-left: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 93%;
  margin-top: 30px;
  margin-left: 3px;
  padding-bottom: 24px;
}
#land_section_1.land_1 .box .land_content{
    padding-bottom: 16px;
    padding-top: 16px;
}
#land_section_2 {
  background: url('../images/landing/section_2_img.png');
  background-repeat: no-repeat;
  height: 720px;
  overflow: hidden;
  position: relative;
}
#land_section_2.land_1 {
    height: 700px;
}
#land_section_2 .box {
  width: 320px;
  margin-left: 69.6%;
  margin-top: 13.3%;
}
#land_section_2.land_1 .box{
    margin-top: 12.8%;
}
#land_section_2 .box .land_content {
  padding-top: 9px;
  padding-left: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 94%;
  margin-top: 31px;
  margin-left: 2px;
  padding-bottom: 16px;
}
#land_section_2.land_1 .box .land_content{
    margin-top: 28px;
    padding-top: 16px;
}
#land_section_2 .box .land_content_2 {
  padding-top: 9px;
  padding-left: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 94%;
  margin-top: 31px;
  margin-left: 2px;
  padding-bottom: 16px;
  border-top: none;
  margin-top: 1px;
  padding-top: 0;
  padding-bottom: 17px;
}
#land_section_2.land_1 .box .land_content_2 {
    padding-bottom: 14px;
}

#land_section_2 .box .land_content_2 .section_logo {
  padding-top: 2px;
  margin-left: 0px;
  margin-bottom: 9px;
}
#land_section_2.land_1 .box .land_content_2 .section_logo {
    margin-bottom: 5px;
}
#land_section_2 .box .playstore {
  margin-top: 15px;
  padding-left: 4px;
}
#land_section_2 .box .playstore a {
  margin-right: 6px;
    display: inline-block;
}
#land_section_3 {
  background: url('../images/landing/section_1_img.png');
  height: 484px;
  overflow: hidden;
  position: relative;
  background: url('../images/landing/section_3_img.png');
  background-repeat: no-repeat;
}
#land_section_3.land_1{
    height: 472px;
}
#land_section_3 .box {
  width: 320px;
  margin-left: 52%;
  margin-top: 17.3%;
}

#land_section_3 .box .land_content {
  padding-top: 9px;
  padding-left: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 93%;
  margin-top: 30px;
  margin-left: 3px;
  padding-bottom: 24px;
}
#land_section_3 .box {
  height: 486px;
  width: 387px;
  margin-left: 11%;
  margin-top: 13.7%;
}

#land_section_3.land_1 .box {
    margin-top: 13.1%;
}
#land_section_3.land_1 .box .land_content {
    width: 94%;
}
#land_section_3 .box .land_content {
  padding-top: 14px;
  padding-bottom: 14px;
}
#land_section_3 .box .land_content {
    padding-bottom: 14px;
}
#land_section_3 .box .land_content p {
  margin-left: -4px;
}
#land_section_4 {
  background: url('../images/landing/section_2_img.png');
  height: 720px;
  overflow: hidden;
  position: relative;
  background: url('../images/landing/section_4_img.png');
  background-repeat: no-repeat;
}
#land_section_4.land_1 {
    height: 700px;
}
#land_section_4 .box {
  width: 320px;
  margin-left: 69.6%;
  margin-top: 13.3%;
}

#land_section_4 .box .land_content {
  padding-top: 9px;
  padding-left: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 94%;
  margin-top: 31px;
  margin-left: 2px;
  padding-bottom: 16px;
}
#land_section_4.land_1 .box .land_content {
    padding-bottom: 14px;
    padding-top: 14px;
}
#land_section_4 .box .land_content_2 {
  padding-top: 9px;
  padding-left: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 94%;
  margin-top: 31px;
  margin-left: 2px;
  padding-bottom: 16px;
  border-top: none;
  margin-top: 1px;
  padding-top: 0;
  padding-bottom: 17px;
}
#land_section_4 .box .land_content_2 .section_logo {
  padding-top: 2px;
  margin-left: 0px;
  margin-bottom: 9px;
}
#land_section_4 .box .playstore {
  margin-top: 15px;
  padding-left: 4px;
}
#land_section_4 .box .playstore a {
    margin-right: 6px;
    display: inline-block;
}
#land_section_4 .box {
  width: 320px;
  margin-left: 51.3%;
  margin-top: 6.7%;
}
#land_section_4 .box {
    margin-top: 6.2%;
}

#land_section_4 .box .land_content_2 {
  padding-top: 12px;
  margin-left: 0;
}
#land_section_4.land_1 .box .land_content_2{
    padding-top: 12px;
    padding-bottom: 11px;
}
#land_section_4 .box .land_content_2 .section_logo {
  margin-bottom: 18px;
  margin-left: -1px;
}
#land_section_4 .box .playstore {
  margin-top: 14px;
  padding-left: 0px;
}
#land_section_5 {
  background: url('../images/landing/section_1_img.png');
  height: 484px;
  overflow: hidden;
  position: relative;
  background: url('../images/landing/section_5_img.png');
  background-repeat: no-repeat;
}
#land_section_5.land_1 {
    height: 470px;
}
#land_section_5 .box {
  width: 320px;
  margin-left: 52%;
  margin-top: 17.3%;
}
#land_section_5 .box .land_content {
  padding-top: 9px;
  padding-left: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 93%;
  margin-top: 30px;
  margin-left: 3px;
  padding-bottom: 24px;
}
#land_section_5 .box {
  width: 358px;
  margin-left: 27%;
  margin-top: 17.9%;
}
#land_section_5 .box {
    margin-top:17.2%;
}
#land_section_5 .box .land_content {
  margin-top: 32px;
  margin-left: -1px;
  padding-bottom: 17px;
}
#land_section_5.land_1 .box .land_content {
    margin-top: 29px;
    padding-bottom: 13px;
    padding-top: 13px;
}
#land_section_6 {
  background: url('../images/landing/section_2_img.png');
  height: 720px;
  overflow: hidden;
  position: relative;
  background: url('../images/landing/section_6_img.png');
  background-repeat: no-repeat;
}
#land_section_6.land_1 {
    height: 700px;
}
#land_section_6 .box {
  width: 320px;
  margin-left: 69.6%;
  margin-top: 13.3%;
}
#land_section_6 .box .land_content {
  padding-top: 9px;
  padding-left: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 94%;
  margin-top: 31px;
  margin-left: 2px;
  padding-bottom: 16px;
}
#land_section_6 .box .land_content_2 {
  padding-top: 9px;
  padding-left: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 94%;
  margin-top: 31px;
  margin-left: 2px;
  padding-bottom: 16px;
  border-top: none;
  margin-top: 1px;
  padding-top: 0;
  padding-bottom: 17px;
}
#land_section_6.land_1 .box .land_content {
    margin-top: 29px;
    margin-left: 0px;
}
#land_section_6 .box .land_content_2 .section_logo {
  padding-top: 2px;
  margin-left: 0px;
  margin-bottom: 9px;
}
#land_section_6 .box .playstore {
  margin-top: 15px;
  padding-left: 4px;
}
#land_section_6 .box .playstore a {
  margin-right: 6px;
    display: inline-block;
}
#land_section_6 .box {
  width: 319px;
  margin-left: 69.6%;
  margin-top: 10.9%;
}
#land_section_6.land_1 .box {
    margin-top: 10.4%;
}
#land_section_6 .box .land_content {
  padding-bottom: 16px;
}
#land_section_6.land_1 .box .land_content {
    padding-bottom: 12px;
    padding-top: 14px;
}
#land_section_6 .box .land_content_2 {
  padding-top: 12px;
  padding-bottom: 17px;
}
#land_section_6.land_1 .box .land_content_2 {
    padding-top: 18px;
    padding-bottom: 13px;
    margin-left: 0px;
}
#land_section_6 .box .land_content_2 .section_logo {
  margin-bottom: 15px;
  margin-left: -1px;
}
#land_section_6 .box .playstore {
  padding-left: 0;
}
#land_section_7 {
  background: url('../images/landing/section_1_img.png');
  height: 484px;
  overflow: hidden;
  position: relative;
  background: url('../images/landing/section_5_img.png');
  background: url('../images/landing/section_7_img.png');
  background-repeat: no-repeat;
  height: 486px;
}
#land_section_7.land_1 {
    height: 472px;
}
#land_section_7 .box {
  width: 320px;
  margin-left: 52%;
  margin-top: 17.3%;
}

#land_section_7 .box .land_content {
  padding-top: 9px;
  padding-left: 0px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 93%;
  margin-top: 30px;
  margin-left: 3px;
  padding-bottom: 24px;
}
#land_section_7 .box {
  width: 358px;
  margin-left: 27%;
  margin-top: 17.9%;
}
#land_section_7 .box .land_content {
  margin-top: 32px;
  margin-left: -1px;
  padding-bottom: 17px;
}
#land_section_7 .box {
  width: 365px;
  margin-left: 59%;
  margin-top: 20.3%;
}
#land_section_7.land_1 .box {
    margin-top: 19.5%;
}
#land_section_7 .box .land_content {
  padding-bottom: 0;
}
#land_section_7 .box .land_content p {
  height: 82px;
  margin-left: -3px;
}
#land_section_7.land_1 .box .land_content {
    margin-top: 29px;
    padding-top: 16px;
}
#land_section_8 {
  background: url('../images/landing/section_8_img.png');
  background-repeat: no-repeat;
  height: 301px;
  overflow: hidden;
  position: relative;
}
#land_section_8.land_1 {
    height: 292px;
}
#land_section_8 .box {
  width: 815px;
  margin-left: 24.7%;
  margin-top: 9.6%;
}
#land_section_8.land_1 .box {
    margin-top: 9.4%;
}
#land_section_8 .box .last_section_btn {
    margin-left: 15px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border: none;
    margin-top: 0;
    padding: 12px 45px;
    font-size: 1.8em;
    background: #0055b3;
    position: relative;
    border: 2px solid #0055b3;
    left: 0;
    top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
#land_section_8 .box .last_section_btn:hover {
    background: #ffffff !important;
    color: #0055b3;
}
#land_section_8 .box .last_section_btn:hover {
    background: #0055B2;
}
#land_section_8 .box .last_section_btn img {
    margin-top: -5px !important;

}
#land_section_8 .box .last_section_btn .icon {
    right: 29px;
    top: 43%;
    width: 4.5% !important;
}
#land_section_8 .box .last_section_btn .hover_img{
    opacity: 0;
}
#land_section_8 .box .last_section_btn:hover .hover_img{
    opacity: 1;
}
    /*
    ===============
    SC-LANDING PAGE
    ===============
    */
#land_section_1.sc_landing_section_1 {
  background: url('../images/landing/sc_landing_image_1.png');
  background-repeat: no-repeat;
}
#land_section_1.sc_landing_section_1 .box {
  width: 354px;
  margin-left: 13.1%;
  margin-top: 17.4%;
}
#land_section_1.sc_landing_section_1 .box .land_content {
  width: 96%;
  margin-left: -2px;
  margin-top: 31px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 1px;
}
#land_section_2.sc_landing_section_2 {
  background: url('../images/landing/sc_landing_image_2.png');
  background-repeat: no-repeat;
}
#land_section_2.sc_landing_section_2 .box {
  width: 320px;
  margin-left: 64.5%;
  margin-top: 12.3%;
}
#land_section_2.sc_landing_section_2 .box .land_content {
  margin-top: 32px;
  margin-left: 2px;
  padding-bottom: 19px;
  padding-top: 19px;
}
#land_section_2.sc_landing_section_2 .box .land_content_2 {
  margin-left: 2px;
  padding-bottom: 20px;
  padding-top: 20px;
}
#land_section_2.sc_landing_section_2 .box .land_content_2 .section_logo {
  /*padding-top: 9px;*/
  margin-left: 0;
  margin-bottom: 12px;
}
#land_section_3.sc_landing_section_3 {
  background: url('../images/landing/sc_landing_image_3.png');
  background-repeat: no-repeat;
  height: 486px;
}
#land_section_3.sc_landing_section_3 .box {
  width: 325px;
  margin-left: 54.9%;
  margin-top: 17.4%;
}
#land_section_3.sc_landing_section_3 .box .land_content {
  width: 96%;
  margin-left: -2px;
  margin-top: 32px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 1px;
}
#land_section_3.sc_landing_section_3 .box .land_content p {
  margin-left: 3px;
}
#land_section_4.sc_landing_section_4 {
  background: url('../images/landing/sc_landing_image_4.png');
  background-repeat: no-repeat;
}
#land_section_4.sc_landing_section_4 .box {
  width: 320px;
  margin-left: 16.8%;
  margin-top: 7.5%;
}
#land_section_4.sc_landing_section_4 .box .land_content {
  margin-top: 31px;
  margin-left: -2px;
  padding-bottom: 18px;
    padding-top: 18px;
}
#land_section_4.sc_landing_section_4 .box .land_content_2 {
  margin-left: -1px;
  padding-bottom: 12px;
}
#land_section_4.sc_landing_section_4 .box .land_content_2 .section_logo {
  padding-top: 3px;
  margin-left: -1px;
  margin-bottom: 17px;
}
#land_section_4.sc_landing_section_4 .box .playstore {
  margin-top: 15px;
  padding-left: 0px;
  margin-left: -3px;
}
#land_section_5.sc_landing_section_5 {
  background: url('../images/landing/sc_landing_image_5.png');
  background-repeat: no-repeat;
  height: 486px;
}
#land_section_5.sc_landing_section_5 .box {
  width: 444px;
  margin-left: 53.2%;
  margin-top: 19.4%;
}
#land_section_5.sc_landing_section_5 .box .land_content {
  width: 100%;
  margin-left: -2px;
  margin-top: 32px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 1px;
}
#land_section_5.sc_landing_section_5 .box .land_content p {
  margin-left: 1px;
}
#land_section_6.sc_landing_section_6 {
  background: url('../images/landing/sc_landing_image_6.png');
  background-repeat: no-repeat;
}
#land_section_6.sc_landing_section_6 .box {
  width: 320px;
  margin-left: 30.2%;
  margin-top: 14.4%;
}
#land_section_6.sc_landing_section_6 .box .land_content {
  margin-top: 31px;
  margin-left: -2px;
  padding-bottom: 18px;
  padding-top: 18px;
}
#land_section_6.sc_landing_section_6 .box .land_content_2 {
  margin-left: -4px;
  padding-bottom: 10px;
  padding-top: 10px;
}
#land_section_6.sc_landing_section_6 .box .land_content_2 .section_logo {
  padding-top: 0px;
  margin-left: 1px;
  margin-bottom: 17px;
}
#land_section_6.sc_landing_section_6 .box .playstore {
  margin-top: 15px;
  padding-left: 0px;
  margin-left: -2px;
}
#land_section_7.sc_landing_section_7 {
  background: url('../images/landing/sc_landing_image_7.png');
  background-repeat: no-repeat;
  height: 485px;
}
#land_section_7.sc_landing_section_7 .box {
  width: 444px;
  margin-left: 53.4%;
  margin-top: 21.6%;
}
#land_section_7.sc_landing_section_7 .box .land_content {
  width: 96%;
  margin-left: -2px;
  margin-top: 31px;
  padding-bottom: 0;
  padding-left: 1px;
  padding-top: 20px;
}
#land_section_7.sc_landing_section_7 .box .land_content p {
  margin-left: 1px;
}
#land_section_8.sc_landing_section_8 {
  background: url('../images/landing/sc_landing_image_8.png');
  background-repeat: no-repeat;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#land_section_8.sc_landing_section_8 .box {
  width: 815px;
  margin-left: 24.7%;
  margin-top: 9.4%;
}
#land_section_8.sc_landing_section_8 .box .last_section_btn {
  margin-left: 14px;
}
#land_section_8.sc_landing_section_8 .box .last_section_btn img {
  margin-top: -5px !important;
}
.modal_shadow {
  display: none;
}
/*
==============
MOBILE DEVICE
==============
*/
@media (max-width: 768px) {

    .btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus{
        color: #fff;
        background-color: #0055B2;
        border-color: #0055B2;
    }


  body {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
    font-weight: 300;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
      overflow: hidden;
  }
  .site_header {
      padding: 11px 0 !important;
  }
  .site_header .site_logo {
    padding: 0;
  }
  .site_header .site_logo img {
    margin-left: 10px;
    margin-top: -2px;
    width: 72%;
  }
  .site_header .site_title {
      padding-left: 10px;
      padding-right: 16px;
      padding-top: 0;
      height: 51px;
      margin-top: -7px;
  }
  .site_header .site_title .tagline {
    bottom: 0;
    height: auto;
  }
  .site_header .site_title .tagline span {
    font-size: 1.8em;
  }
  .slide_section {
    height:auto;
  }
  .sp-bettons-section {
    background: rgba(255,255,255,0.7);
    position: absolute;
      padding-bottom: 0;
      padding-top: 9px;
      bottom: 0;
      height: auto;
      width: 100%;
  }
  .sp-bettons-section .border-bottom {
      border-bottom: 1px solid #0055b3;
      padding-bottom: 0;
      padding-bottom: 5px;
      position: relative;
  }
  .sp-bettons-section .border-bottom:after ,.sp-bettons-section .border-bottom:before {
      content: '';
      display: table;
  }
  .sp-bettons-section .border-bottom:after {
      clear: both;
  }
  .sp-bettons-section img {
    width: 65%;
  }
  .sp-bettons-section p {
    margin-bottom: 0;
  }
  .sp-bettons-section label {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
    font-weight: 300;
    font-size: 1.3em;
  }
  .sp-bettons-section .right_panel {
    padding-left: 10px;
  }
  .sp-bettons-section .right_panel img {
    margin-top: -1px;
    padding-left: 1px;
  }
  .sp-bettons-section .right_panel p {
    padding-left: 0;
  }
  .sp-bettons-section .left_panel {
    padding-right: 10px;
  }
  .sp-bettons-section .left_panel p {
    padding-left: 0;
    margin-bottom: 0;
  }
  .sp-bettons-section .left_panel img {
        margin-top: -1px;
      margin-left: 1px;
  }
  .sp-bettons-section .box_panel label, .sp-bettons-section .box_panel a{
      display: inline-block;
      float: none;
      vertical-align: top;
      position: relative;
  }
  .sp-bettons-section .box_panel {
        color: #0055b3;
  }
  .sp-bettons-section .box_panel .mobile_title {
      font-size: 10px;
  }
  .button_banner_sm {
    border-radius: 21px;
    font-size: 9px;
    box-shadow: none;
    border: none;
    padding: 4px 0;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none;
    box-shadow: none;
    border:none;
    /*background: #0055b3;*/
  }
  .button_banner_sm .sp_btn_img {
      /*width: 94% !important;*/
  }
  .button_banner_sm:hover {
    /*background: #0055b3;*/
  }
  .button_banner_sm img.icon {
      position: absolute;
      right: 100px;
      width: 7.5px !important;
      top: 17px;
  }
  .button_banner_sm:hover .icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  .button_banner_sm img {
    /*top: 7px;*/
      position: absolute;
      width: 69% !important;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
  }
   .button_banner_sm .hover_img {
        opacity: 0;
    }
     .button_banner_sm .icon.hover_img{
        width: 7.5px !important;
    }
     .button_banner_sm:hover img {
        /*opacity: 0;*/
    }
     .button_banner_sm:hover .hover_img{
        /*opacity: 1;*/
    }
.left_panel_logo img {
  /*width:80% !important;*/

}
  .sp-bettons-section .box_panel a {
      width: 66%;
      /*border: 1px solid red;*/
      margin-left: 8px;
      padding: 0;
  }
  .slide_section {

  }
  .slide_section .home_page_cover {
    padding-bottom: 10px;
      background: url(../images/sp/home_page_img.png) no-repeat center top;
      -webkit-background-size: cover;
      background-size: cover;
      height: 324px;
  }

  .slide_section .home_page_cover img {
    width: 100%;
  }
  .title_sp {
    color: #0055b2;
    border-top: 1px solid #0055b2;
  }

    .coming_soon {
        position: absolute;
        right: -47px;
        top: -2px;

    }
    .coming_soon img {
        width: 50%;
    }

  #section_1 {
    padding: 0;
      padding-top: 15px;
      padding-bottom: 6px;
  }
  #section_1 .mobile_title {
    color: #0055b2;
    border-top: 1px solid #0055b2;
    font-size: 8px;
    padding-top: 6px;
  }
  #section_1 .theme_logo {
    padding-right: 8px;
    padding-left: 0;
  }
  #section_1 .theme_logo .mobile_title {
    padding-left: 10px;
    padding-top: 8px;
  }
  #section_1 .theme_logo img {
    margin-right: 0;
  }
  #section_1 .theme_logo .main_logo img {
    width: 80%;
    padding-top: 0;
    margin-left: 0;
    margin-right: 4px;
  }
  #section_1 .section_1_text {
    padding-left: 11px;
  }
  #section_1 .section_1_text .para-sm {
    margin-top: 0;
  }
  #section_1 .section_1_text .para-sm p {
    font-size: 2vw;
    line-height: 30px;
      color:#0055b3;
      margin-top: -2px;
  }
  .show_popup {
    /*border: none;*/
    /*box-shadow: none;*/
    /*-webkit-border-radius: 21px;*/
    /*-moz-border-radius: 21px;*/
    /*border-radius: 21px;*/
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*box-shadow: none;*/
    /*font-size: 9px;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*background: #0055b3;*/
    /*padding: 4px 18px;*/
      /*border: 1px solid #0055b3;*/
      /*-webkit-transition: all 0.3s ease-out 0s;*/
      /*-moz-transition: all 0.3s ease-out 0s;*/
      /*-ms-transition: all 0.3s ease-out 0s;*/
      /*-o-transition: all 0.3s ease-out 0s;*/
      /*transition: all 0.3s ease-out 0s;*/
  }
  .show_popup img {
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
  }
    .show_popup .hover_img {
        /*opacity: 0;*/
    }
    .show_popup:hover .icon {
        /*opacity: 0;*/
    }
    .show_popup:hover .hover_img {
        /*opacity: 1;*/
    }
  .show_popup:hover,.show_popup:active,.show_popup:focus {
    /*color: #0055b3;*/
      /*background: #ffffff;*/
  }
  .show_popup img {
    top: 6px;
    right: 9px;
    width: 91%;
  }
  .show_popup:hover .icon {
    /*-webkit-transform: translateX(4px);*/
    /*transform: translateX(4px);*/
  }
  #section_1 .left_panel_logo img {
    padding-top: 0;
    padding-right: 4px;
  }
  #section_2 {
    padding-top: 10px;
    margin-top: 9px;
    padding-bottom: 10px;
  }
  #section_2 .section_title p {
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 0;
  }
  #section_2 .section_body {
    width: 100%;
    margin-left: 0;
    padding-right: 0;
  }
  #section_2 .section_body .item_main_title {
    padding-bottom: 0;
  }
  #section_2 .section_body .item_main_title .title {
    border: none;
    font-size: 7px;
    text-align: center;
    margin-bottom: 3px;
  }
  #section_2 .section_body .special_sp_title .title {
    margin-top: 0;
  }
  #section_2 .section_body .item {
    margin-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #section_2 .section_body .item .inner_item {
    background: #fff;
    border-radius: 2px;
    padding: 10px 10px 4px;
    height: auto;
  }
  #section_2 .section_body .item .inner_item .title {
    font-size: 13px;
    padding-top: 11px;
    margin-bottom: 2px;
  }
  #section_2 .section_body .item .inner_item .title img {
    width: 17%;
    margin-top: -17px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;

  }


    #section_2 .section_body .item:hover .inner_item .title img{
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
  #section_2 .section_body .item .inner_item .title img.canpassapp {
    width: 23%;
  }
  #section_2 .section_body .item .inner_item .title img.tadacopy {
    width: 26%;
  }
  #section_2 .section_body .item .inner_item .title img.unidol_logo {
    width: 27%;
  }
  #section_2 .section_body .item .inner_item .title img.capture_logo {
    width: 30%;
  }
  #section_2 .section_body .item .inner_item .title img.career_logo {
    width: 40%;
  }
  #section_2 .section_body .item .inner_item .title img.teppan_logo {
    width: 28%;
  }
  #section_2 .section_body .item .inner_item .title img.smart_logo {
    width: 21%;
    margin-bottom: -20px;
  }
  #section_2 .section_body .item .inner_item .title img.tadacopy_logo {
    width: 29%;
  }
    #section_2 .section_body .item .inner_item .title img.student_box {
        width: 29%;
    }

  #section_2 .section_body .item .inner_item .desc {
    font-size: 9px;
    line-height: 16px;
    margin-bottom: 0;
    font-size: 8.5px;
  }
  #section_3 {
    padding-top: 22px;
    padding-bottom: 11px;
  }
  #section_3 .footer_button_section img {
    width: 88%;
    margin-left: -10px;
  }
  #footer_section {
    padding-top: 6px;
    padding-bottom: 4px;
  }
  #footer_section .section_body {
    width: 95.63%;
  }
  #footer_section .footer_logo {
    padding: 0;
  }
  #footer_section .footer_logo img {
    width: 100%;
  }
  #footer_section .footer_slogans {
    padding: 0;
  }
  #footer_section .footer_slogans img {
    width: 100%;
    margin-left: 0px;
    padding-top: 1px;
    padding-left: 4px;
  }
  #footer_section .footer_slogans .title {
    font-size: 23px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-left: 4px;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
  }
  #footer_section .footer_slogans .copyright_footer_sp {
    font-size: 7.3px;
    color: #ffffff;
    margin-bottom: 0;
    padding-top: 8px;
    padding-left: 4px;
  }
  #footer_section .footer_slogans .oceanize_logo {
    position: absolute;
    top: 0;
    text-align: right;
    right: 0;
  }
  #footer_section .footer_slogans .oceanize_logo img {
    width: 100%;
    margin-right: -6px;
    padding-top: 2px;
  }
  .modal_shadow {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
      overflow-y: auto;
      overflow-x: hidden;
  }
  .modal_shadow .modal_main {
    width: 375px;
    height: auto;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 55px auto;
    position: relative;
    margin-top: -800px;
  }
  .modal_shadow .modal_main .modal_body {
    padding: 16px;
    padding-top: 24px;
    position: relative;
  }
    .modal_shadow .modal_main .modal_body .modal_logo {
        width: 64%;
    }
    .modal_shadow .modal_main .modal_body .modal_logo img {
        width: 100%;
    }
  .modal_shadow .modal_main .modal_body .modal_para {
    color: #0055b2;
    font-size: 11.4px;
    line-height: 22px;
  }
  .modal_shadow .modal_main .modal_body .modal_para.title {
    font-size: 17.4px;
    line-height: 26px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .modal_shadow .modal_main .modal_body .modal_para:last-child {
    margin-bottom: 0;
  }
  .modal_shadow .modal_main .close {
    position: absolute;
    right: 16px;
    top: 10px;
    cursor: pointer;
      opacity: 1;
  }
  /*
=============
LANDING PAGE DESIGN
=============
*/
  .mobile_section_bg {
    background-size: 100% 100%;
    background-position: contain;
    height: auto;
    overflow: hidden;
  }
  #land_section_1 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto !important;
    overflow: hidden;
  }
  #land_section_1 .box {
    width: 160px;
    margin-left: 48%;
    margin-bottom: 10%;
  }
  #land_section_1 .box img {
    width: 30%;
  }
  #land_section_1 .box .land_content {
    width: 74%;
    margin-top: 14px;
    margin-left: 3px;
      padding: 10px 0 !important;
  }
  #land_section_1 .box .land_content img {
    width: 100%;
  }
  #land_section_2 {
    background-size: 100% 100%;
    background-position: contain;
    /*height: auto;*/
    overflow: hidden;
    height: 280px !important;
  }
    #land_section_2.land_1 .box {
        margin-top: 8.8%;
    }
  #land_section_2 .box {
    margin-left: 55%;
    width: 160px;
    margin-right: 0;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #land_section_2 .box .time img {
    width: 30%;
  }
  #land_section_2 .box .land_content {
    position: relative;
      padding: 10px 0 !important;
    margin-top: 10px !important;
  }
  #land_section_2 .box .land_content p {
    margin-bottom: 0;
  }
  #land_section_2 .box .land_content img {
    width: 90%;
  }
  #land_section_2 .box .land_content_2 {
    padding-bottom: 2px !important;
  }
  #land_section_2 .box .land_content_2 .section_logo img {
    width: 45%;
  }
  #land_section_2 .box .land_content_2 img {
    width: 100%;
  }
  #land_section_2 .box .playstore {
    margin-top: 5px;
  }
  #land_section_2 .box .playstore img {
    width: 40%;
  }
  #land_section_3 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto !important;
    overflow: hidden;
  }
  #land_section_3 .box {
    height: auto;
    width: 160px;
    margin-bottom: 10%;
  }
  #land_section_3 .box .time img {
    width: 30%;
  }
  #land_section_3 .box .land_content {
    width: 100%;
      padding: 10px 0 !important;
    margin-top: 10px;
  }
  #land_section_3 .box .land_content img {
    width: 100%;
  }
  #land_section_4 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto !important;
    overflow: hidden;
  }
  #land_section_4 .box {
    margin-left: 10%;
    width: 160px;
    height: 250px;
  }
  #land_section_4 .box .time img {
    width: 30%;
  }
  #land_section_4 .box .land_content {
      padding: 10px 0 !important;
    margin-top: 10px;
  }
  #land_section_4 .box .land_content p {
    margin-bottom: 0;
  }
  #land_section_4 .box .land_content img {
    width: 90%;
  }
  #land_section_4 .box .land_content_2 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
  #land_section_4 .box .land_content_2 .section_logo {
    margin-bottom: 2px;
  }
  #land_section_4 .box .land_content_2 .section_logo img {
    width: 40%;
  }
  #land_section_4 .box .land_content_2 .section_content {
    position: relative;
  }
  #land_section_4 .box .land_content_2 .section_content img {
    width: 100%;
  }
  #land_section_4 .playstore {
    margin-top: 2px !important;
  }
  #land_section_4 .playstore img {
    width: 40%;
  }
  .box {
    position: relative;
  }
  #land_section_5 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto !important;
    overflow: hidden;
  }
  #land_section_5 .box {
    width: 160px;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  #land_section_5 .box .time img {
    width: 25%;
  }
  #land_section_5 .box .land_content {
    padding: 10px 0 !important;
    margin-top: 10px !important;
  }
  #land_section_5 .box .land_content img {
    width: 100%;
  }
  #land_section_6 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto !important;
    overflow: hidden;
  }
  #land_section_6 .box {
    width: 160px;
    margin-left: 33.6%;
    position: relative;
    margin-top: 5.9%;
    margin-bottom: 5%;
    height: 250px;
  }
  #land_section_6 .box .time img {
    width: 30%;
  }
  #land_section_6 .box .land_content {
    padding: 10px 0 !important;
    margin-top: 10px !important;
  }
  #land_section_6 .box .land_content img {
    width: 100%;
  }
  #land_section_6 .box .land_content_2 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
  #land_section_6 .box .land_content_2 img {
    width: 100%;
  }
  #land_section_6 .box .land_content_2 .section_logo img {
    width: 65%;
  }
    #land_section_6 .box .land_content_2 .section_logo {
        margin-bottom: 10px;
    }
  #land_section_7 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto !important;
    overflow: hidden;
  }
  #land_section_7 .box {
    width: 160px;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  #land_section_7 .box .time img {
    width: 31%;
  }
  #land_section_7 .box .land_content {
    margin-top: 10px !important;
    padding-bottom: 16px;
  }
  #land_section_7 .box .land_content p {
    margin-bottom: 0;
    height: auto;
  }
  #land_section_7 .box img {
    width: 100%;
  }
  #land_section_8 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto !important;
    overflow: hidden;
  }
  #land_section_8 .box {
    width: 300px;
    margin: 10% auto;
      text-align: center;
  }
  #land_section_8 .box img {
    width: 58%;
  }
  #land_section_8 .box .last_section_btn {
      margin-left: 0;
      margin-top: 16px;
      text-align: center;
      padding: 8px 23px;
      font-size: 1em;

  }
  #land_section_8 .box .last_section_btn img {
    width: 9px !important;
      right: 12px;
      top: 50%;
  }
  #land_section_1.sc_landing_section_1 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto;
    overflow: hidden;
  }
  #land_section_1.sc_landing_section_1 .box {
    width: 160px;
  }
  #land_section_1.sc_landing_section_1 .box .land_content {
    margin-top: 10px;
    padding-bottom: 2px;
      padding: 10px 0 !important;
  }
  #land_section_2.sc_landing_section_2 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto;
    overflow: hidden;
  }
  #land_section_2.sc_landing_section_2 .box {
    width: 160px;
    margin-left: 40.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 230px;
  }
  #land_section_2.sc_landing_section_2 .box .land_content {
    padding-bottom: 2px;
    margin-top: 10px;
      padding: 10px 0 !important;
  }
  #land_section_2.sc_landing_section_2 .box .land_content_2 {
        padding-bottom: 2px;
      padding-top: 7px !important;
   }
  #land_section_3.sc_landing_section_3 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto;
    overflow: hidden;
  }
  #land_section_3.sc_landing_section_3 .box {
    margin-left: 33%;
    width: 160px;
  }
  #land_section_3.sc_landing_section_3 .box .land_content {
    margin-top: 10px;
    padding-bottom: 2px;
      padding: 10px 0;
  }
  #land_section_3.sc_landing_section_3 .box .land_content img {
    width: 90%;
  }
  #land_section_4.sc_landing_section_4 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto;
    overflow: hidden;
  }
  #land_section_4.sc_landing_section_4 .box {
    width: 160px;
    margin-bottom: 5%;
    height: 230px;
  }
  #land_section_4.sc_landing_section_4 .box .land_content {
    margin-top: 10px;
    padding-bottom: 2px;
      padding: 10px 0;
  }
  #land_section_4.sc_landing_section_4 .box .land_content_2 {
    padding-bottom: 2px;
  }
  #land_section_5.sc_landing_section_5 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto;
    overflow: hidden;
  }
  #land_section_5.sc_landing_section_5 .box {
    width: 190px;
    margin-left: 32.2%;
  }
  #land_section_5.sc_landing_section_5 .box .land_content {
    margin-top: 10px;
    padding-bottom: 2px;
      padding: 10px 0 !important;
  }
  #land_section_6.sc_landing_section_6 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto;
    overflow: hidden;
  }
  #land_section_6.sc_landing_section_6 .box {
    width: 160px;
    margin-left: 35.2%;
    margin-top: 5%;
  }
  #land_section_6.sc_landing_section_6 .box .land_content {
    margin-top: 10px;
      padding: 10px 0 !important;
  }
  #land_section_6.sc_landing_section_6 .box .land_content_2 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #land_section_6.sc_landing_section_6 .box .land_content_2 .section_logo img {
    width: 40%;
  }
  #land_section_6.sc_landing_section_6 .playstore img {
    width: 40%;
  }
  #land_section_7.sc_landing_section_7 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto;
    overflow: hidden;
  }
  #land_section_7.sc_landing_section_7 .box {
    width: 160px;
    margin-left: 30.4%;
    margin-top: 11.6%;
  }
  #land_section_7.sc_landing_section_7 .box .land_content {
      padding: 10px 0 !important;
    margin-top: 10px;
  }
  #land_section_8.sc_landing_section_8 {
    background-size: 100% 100%;
    background-position: contain;
    height: auto;
    overflow: hidden;
  }
  #land_section_8.sc_landing_section_8 .box {
    width: 300px;
    margin: 10% auto;
  }
  #land_section_8.sc_landing_section_8 .box img {
    width: 58%;
  }
  #land_section_8.sc_landing_section_8 .box .last_section_btn {
    margin-left: 0;
    margin-top: 16px;
    /*display: block;*/
    /*text-align: center;*/
  }
  #land_section_8.sc_landing_section_8 .box .last_section_btn img {
      width: 9px !important;
  }
    #land_section_8.sc_landing_section_8 .box .last_section_btn .icon{
        right: 11px;
        top: 47%;
    }
    #land_section_8 .box .last_section_btn .icon{
        right: 11px;
        top: 47%;
    }
}

/*
* @by UB
* Text Change
*/

body{
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
}
.lp_item_link:hover, .navbar-menu li a:hover, .foot_btn:hover, .footer_nav_menu li a:hover{
    text-decoration: none;
}
.txt_con h3, .txt_con p{
    color: #000000;
}
.txt_con h3{
    font-weight: 600;
}
.txt_con p{
    font-weight: 500;
}
.foot_btn {
    /*background: #0055b3 none repeat scroll 0 0;*/
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    margin: 21px 66px;
    position: absolute;
    left: 17%;
    top: -66px;

}
.foot_btn .icon {
    position: absolute;
    top: 34%;
    right: 73px;
}
a.foot_btn:hover, a.foot_btn:active, a.foot_btn:focus{
    color: #ffffff;
    text-decoration: none;
}
.btn_active img{
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.btn_active .hover_img{
    opacity: 0;
}
.btn_active:hover .active_img {
    opacity: 0;
}
.btn_active:hover .hover_img{
    opacity: 1;
}
.btn_hover {
    top: -67px;
    /*-webkit-transition: all 0.3s ease-out 0s;*/
    /*-moz-transition: all 0.3s ease-out 0s;*/
    /*-ms-transition: all 0.3s ease-out 0s;*/
    /*-o-transition: all 0.3s ease-out 0s;*/
    /*transition: all 0.3s ease-out 0s;*/
 }
.btn_hover .icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}
.foot_btn:hover .icon {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}
.foot_btn:hover{
  color: #FFF;
}
.footer_nav_menu li a{
  color: #fff!important;
}
/*pixel perfect*/
a:hover, a:active, a:focus{
  outline: none;
}
.site_header {
  padding-top: 35px;
}
#section_1 .theme_logo img {
  margin-right: 6px!important;
}
#section_1 .section_1_text {
  padding-left: 33px;
}
.top_para_one{
  font-size: 28px !important;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: -2px;
}
.top_para_two {
  font-size: 28px !important;
  font-weight: 700;
  letter-spacing: 2.6px;
  margin-left: -2px;
}
.top_para_three {
  font-size: 28px !important;
  font-weight: 700;
}
#section_1 .section_1_text .para {
  padding-bottom: 15px;
}
.para_two_lp p{
  font-size: 15px !important;
  font-weight: 600;
  letter-spacing: 2.9px;
  margin-bottom: 15px;
 }

.t_1,.t_2,.t_3,.t_4{
  visibility: hidden;
}
.para_three_lp {
  padding-top: 5px;
}
.para_three_lp p {
  font-size: 15px !important;
  font-weight: 600;
  letter-spacing: 2.9px;
  margin-bottom: 14px;
}
#section_2 {
  margin-top: 1px;
}
#section_2 > .section_title > p > img {
  margin-left: 1px;
  margin-top: 0px;
  width: 23.5%;
}
#section_2 .section_body .item_main_title .title {
  color: #ffffff;
  font-size: 14px;
  margin: 7px 0;
    margin-bottom: 4px;
}

#section_2 .section_body .item {
    margin-bottom: 12px;
 }
#section_2 .section_body .item:last-child {
    margin-bottom: 0;
}
#section_2 .section_body .item:first-child{
    margin-top: 1px;
}
.sp_bx_h3_4 {
  font-size: 19px;
  letter-spacing: 3.1px;
  margin-left: 2px;
  margin-top: 20px;
}
.sp_bx_h3_5 {
  font-size: 19px;
  letter-spacing: 1.5px;
  margin-left: 2px;
  margin-top: 21px;
}
.sp_bx_h3_6 {
  font-size: 19px;
  letter-spacing: 1.2px;
  margin-left: 2px;
  margin-top: 21px;
}
.sp_bx_h3_7 {
  font-size: 19px;
  letter-spacing: 1.3px;
  margin-left: 3px;
  margin-top: 22px;
}
.sp_bx_h3_8 {
  font-size: 19px;
  letter-spacing: 3.3px;
  margin-left: 2px;
  margin-top: 22px;
}
.sp_bx_h3_9 {
  font-size: 19px;
  letter-spacing: 1.9px;
  margin-left: 2px;
  margin-top: 22px;
}
.sp_bx_h3_10 {
  font-size: 19px;
  letter-spacing: 1.2px;
  margin-left: 2px;
  margin-top: 23px;
}
.sp_bx_h3_11 {
  font-size: 18px;
  letter-spacing: 1.9px;
  margin-left: 2px;
  margin-top: 22px;
}
.sp_bx_h3_12 {
  font-size: 19px;
  letter-spacing: 2.2px;
  margin-left: 1px;
  margin-top: 23px;
}
.sp_bx_h3_13 {
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 23px;
}
.sp_bx_h3_14 {
  font-size: 19px;
  letter-spacing: -0.5px;
  margin-left: 3px;
  margin-top: 23px;
}
.sp_bx_h3_15 {
  font-size: 19px;
  letter-spacing: 3px;
  margin-left: 2px;
  margin-top: 23px;
}
.content.txt_con > p {
  padding-top: 4px;
    font-size: 14.1px;
    line-height: 21px;
}
#section_3 {
    padding-bottom: 88px;
    padding-top: 91px;
}
.footer_nav_menu a {
    /*margin-left: -8px !important;*/
    padding-top: 3px !important;
}
#footer_section .section_body .footer_bottom_section .footer_content {
    padding-top: 13px;
}
#footer_section .section_body .footer_bottom_section .footer_content h3{
    color: #ffffff;
    font-size: 17px;
    margin-top: 0;
}
#footer_section .section_body .footer_bottom_section .box  {
    position: relative;
    padding-left: 4px;
    padding-top: 10px;
    padding-right: 0;
    width: 26%;
}
#footer_section .section_body .footer_bottom_section .box .leftbox  {
    width: 21%;
    height: 45px;
    border: 1px solid #ffffff;
    float: left;
}
#footer_section .section_body .footer_bottom_section .box .rightboxcontent {
    width: 78%;
    float: left;
}
#footer_section .section_body .footer_bottom_section .box .rightboxcontent p {
    color: #ffffff;
    font-size: 10px;
    padding: 0;
    margin: 0;
    line-height: 17px;
    padding-left: 7px;
    position: relative;
    margin-top: -3px;
    letter-spacing: 0.2px;
}
#footer_section .section_body .footer_bottom_section .footer_right_logo img {
    margin-top: -2px;
    padding-left: 6px;
    width: 100%;
}
#section_2 .section_body .item .inner_item .item-title.title_9 .comming_soong_logo {
    margin-top: -18px;
}
.comming_soong_logo {
    width: 70%;
}

#footer_section .section_body .footer_bottom_section .footer_right_logo {
  padding: 0px;
  width: 14%;
  margin-left: 0.6%;
  margin-top: -2px;
}

#footer_section .section_body .footer_bottom_section .footer_right_logo {
  padding: 0px;
  width: 14%;
  margin-left: 0.6%;
  margin-top: -2px;
}
/*
*
*/
@media screen and (max-width:768px){


  #section_3 {
      padding-bottom: 68px;
      padding-top: 38px;
  }
  #section_3 .footer_button_section p {
    padding-left: 0;
      position: relative;
  }
  .foot_btn {
      padding: 0;
      display: inline-block;
      border-radius: 3px;
      position: absolute;
      left: 3%;
      top: -34px;
  }
  .foot_btn > img.icon {
     width: 20px !important;
    position: absolute;
    right: 40px;
    top: 40%;
  }
    .site_header .site_title .tagline span.top-text-img-2 {
        margin: -26px 0px 0px 6px;
    }
    .site_header .site_title .tagline span.top-text-img-3 {
        margin: -27px 0px 0px 1px;
    }
    .site_header .site_title .tagline{
        bottom: 0;
        height: auto;
        height: 26px;
    }
    .site_header .site_title .tagline span{
        font-size: 3.1em;
    }
    #land_section_6 .box .playstore a, #land_section_4 .box .playstore a,#land_section_2 .box .playstore a {
        display: inline-block;
        width: 35%;
    }
    #land_section_6 .box .playstore a,#land_section_4 .box .playstore a,#land_section_2 .box .playstore a:last-child {
        width: 31%;
    }
    #land_section_6.sc_landing_section_6 .playstore img,#land_section_4 .playstore img,#land_section_2 .box .playstore a img {
        width: 100%;
    }
    .foot_btn:hover .icon {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    #section_2 .section_body .item:last-child {
        margin-bottom: 2px;
    }
    #section_2 .section_body .item.unidol_item {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 676px){
    #land_section_2.land_1 .box {
        margin-top: 5.8%;
    }
    #land_section_2.sc_landing_section_2 .box {
        margin-top: 3%;
    }
    #footer_section .footer_slogans .oceanize_logo img {
        width:70%;
    }
    #footer_section .footer_slogans .title {
        font-size: 18px;
        padding-top: 10px;
    }
    #footer_section .footer_slogans .copyright_footer_sp {
        font-size: 6.9px;
    }
}

@media screen and (max-width:480px) {
    #section_3 {
        padding-bottom: 25px;
    }

    .site_header .site_title .tagline {
        height: 31px;
    }

    .site_header .site_title .tagline span {
        font-size: 1.5em;
    }

    #section_3 .footer_button_section img.icon {
        width: 8px !important;
        position: absolute;
        right: 51px;
        top: 44%;
    }

    .modal_shadow .modal_main {
        width: 300px;
    }
    .toretan_logo_sp {
        width: 28% !important;
        margin-top: -10px !important;
    }
    .button_banner_sm img.icon {
        position: absolute;
        right: 25px;
        width: 5.5px !important;
        top: 11px;
    }
    #land_section_2.land_1 .box {
        margin-top: 8.8%;
    }

    #land_section_7.land_1 .box {
        margin-top: 12.5%;
    }
    #land_section_8 .box {
        margin: 0 auto;
    }
    #land_section_8 .box img {
        display: block;
        margin: 0 auto;
    }
    #land_section_8 .box .last_section_btn {
        margin: 15px auto;
    }
    #land_section_8 .box img {
        width: 63%;
    }
    #land_section_2.sc_landing_section_2 .box {
        margin-top: 5%;
    }
    #land_section_8.land_1 .box,#land_section_8.sc_landing_section_8 .box {
        margin: 0 auto;
        margin-top: 6.4%;
    }
    #land_section_8.sc_landing_section_8 .box img {
        width: 63%;
    }
    #section_3 .foot_btn {
        margin: 0;
    }
    #section_1 .section_1_text .para-sm p {
        line-height: 20px;
    }
    .sp-bettons-section .box_panel label, .sp-bettons-section .box_panel a {
        margin-bottom: 0;
    }
    .button_banner_sm img {
        width: 88% !important;
        margin-top: -4px;
    }
    .sp-bettons-section .box_panel a {
        width: 66%;
    }
    .sp-bettons-section .right_panel img, .sp-bettons-section .left_panel img {
        margin-top: 0;
    }
    .sp-bettons-section .border-bottom {
        padding-bottom: 0;
    }
    #footer_section .footer_slogans .oceanize_logo img {
        width:36%;
    }
    #footer_section .footer_slogans .title {
        font-size: 13px;
        padding-top: 7px;
    }
    #footer_section .footer_slogans .copyright_footer_sp {
        font-size: 6.3px;
    }
}

@media screen and (max-width:414px) {
    .site_header .site_title .tagline span {
        font-size: 1.3em;
    }
    .sp-bettons-section .box_panel a{
        width: 66%;
        font-size: 7px;
        margin-left: 5px;
        margin-top: 0;
    }
    .sp-bettons-section .right_panel {
        padding-right: 10px;
    }
    .sp-bettons-section .left_panel {
        padding-left: 10px;
    }
    #section_1 .section_1_text {
        padding-left: 7px;
        margin-top: -6px;
    }
    #section_2 .section_body .item_main_title .title {
        font-size: 8px;
        font-weight: bold;
    }
    #land_section_2 .box {
        margin-left: 51%;
    }
    #footer_section .footer_slogans .title {
        font-size: 12px;
    }
    #footer_section .footer_slogans .copyright_footer_sp {
        font-size: 5.3px;
    }
    .button_banner_sm img.icon {
        position: absolute;
        right: 11px;
        width: 5.5px !important;
        top: 7px;
    }
    .left_panel_logo {
        margin-left: -10px;
        margin-top: -2px;
    }
    .sp-bettons-section .border-bottom {
        padding-bottom: 5px;
    }

}

@media screen and (max-width:375px) {
    .sp-bettons-section {
        height: auto;
    }
    .sp-bettons-section label {
        font-size: 1.3em;
    }
    .sp-bettons-section .box_panel a{
        width: 69% !important;
        margin-left: 1px;
        margin-top: 0;
    }
    .button_banner_sm img{
        width: 89% !important;
    }
    .button_banner_sm img.icon {
        right: 2px;
         top: 7px;
    }
    .sp-bettons-section .border-bottom {
        padding-bottom: 5px;
        margin-bottom: 6px !important;
        padding-top: 2px;
    }
    .button_banner_sm img {
        width: 100% !important;
    }
    #section_2 .section_body .item_main_title .title {
        margin-bottom: 2px;

    }
}
