
.main-fonts {
  font-family:  "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
}

@bgblue :#0055b2;
@colorWhite : #ffffff;
@colorBlue : #0055b2;
@siteWidth : 1280px;
@bannerbg: #ededef;


body{
  margin: 0;
  padding: 0;
}

.section{
  padding: 70px 0;
}

@media (min-width: 1200px){
  .container {
    width: @siteWidth;
  }
}

.padding-0 {
  padding: 0;
}
.padding-right-0 {
  padding-right: 0;
}
.padding-left-0 {
  padding-left: 0;
}

.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.site_header {
  width: 100%;
}

.site_header {
  padding-bottom: 36px;
  .site_logo {
      img {
        margin-left: 18px;
        margin-top: -3px;
      }
  }
  .site_title {
      img {
        width: 100%;
      }
    padding-top: 30px;
    padding-left: 28px;
    padding-right: 28px;
  }
}


//Banner Variable
.left_right_banner {
  position: absolute;
  bottom: 104px;
  z-index: 99;
  background: @bannerbg;
  padding: 15px 12px 18px 0px;
  width: 185px;
  height: 270px;

}


.banner_btn_var{
  position: relative;
  text-align: center;
  img {
    width: 98%;
    margin: 0 auto;
    padding-top: 19px;
    padding-left: 12px;
  }
}


.slide_section {

    .left_slide {
      position: relative;
      .padding-0;
              img {
                width: 100%;
              }
              .left_banner {
                .left_right_banner;
                left: 31px;
                      img {
                        margin-left: -4px;
                        margin-top: -2px;
                      }
                      .banner_btn {
                          .banner_btn_var;
                      }
              }
    }
    .right_slide{
      .left_slide;
            img {
              width: 100%;
            }
            .right_banner {
              .left_right_banner;
              right: 30px;
                  img {
                    padding-left: 14px;
                    margin-top: -3px;
                  }
                .banner_btn {
                  .banner_btn_var;
                      img {
                        padding-top: 22px;
                      }
                }

            }
    }

}
//Menubar design
.menu_bar {
  background: @bgblue;
    ul {
      position: relative;
      margin: 0;
      text-align: center;
      list-style: none;
      .padding-0;
            li{
              display: inline-block;
              position: relative;
              text-align: center;

                 a {
                   display: block;
                   text-align: center;
                   color: #ffffff;
                   border-left: 1px solid @colorWhite;
                   padding: 10px 0;
                   margin: 10px 0;
                   width: 210.1px;
                 }

            }
            li:last-child {
                  a {
                    border-right: 1px solid @colorWhite;
                  }
            }

    }
}

#section_1 {
    .section;
    padding-bottom: 31px;
      .theme_logo {
          img {
            margin-right: -39px;
            padding-top: 2px;
          }
      }
    .section_1_text {
      padding-left: 75px;
      padding-top: 1px;
        .para {
          padding-bottom: 45px;
          color: @bgblue;
        }
        .para:first-child p {
          font-weight: bold;
          font-size: 16px;

        }
        .para p {
          font-size: 13.4px;
        }
    }

}

#section_2 {
  .section;
  padding-top: 45px;
  background: @bgblue;
  padding-bottom: 75px;
    .section_title {
      text-align: center;
    }

    .section_body {
      width: 76.2%;
      margin: 0 auto;
      padding-right: 7px;
      position: relative;
        .item_main_title {
          padding-bottom: 10px ;
              .title {
                color: @colorWhite;
                border-bottom: 1px solid @colorWhite;
                padding: 6px 0;
                font-size: 11px;
                text-transform: uppercase;
                margin: 8px 0;
              }
        }
      .item_main_title.special_title {
        padding-left: 17px;
        padding-right: 16px;
      }
        .item {
          position: relative;
          margin-bottom: 27px;
            .inner_item {
              background: @colorWhite;
              .border-radius;
              overflow: hidden;
              height: 303px;
              padding: 20px;
                .item-title {
                  padding-top: 31px;
                  height: 104px;
                }
                .item-title.title_2 {
                  padding-top: 19px;
                  padding-left: 3px;
                }
                .item-title.title_3 {
                  padding-top: 27px;
                  padding-left: 2px;
                }
                .item-title.title_6 {
                  padding-top: 40px;
                  padding-left: 7px;
                }
                .item-title.title_7{
                  padding-top: 14px;
                  padding-left: 4px;
                }
                .item-title.title_8{
                  padding-top: 19px;
                  padding-left: 3px;
                }
              .item-title.title_9 {
                padding-top: 35px;
                margin-left: -4px;
              }
                .item-title.title_10 {
                  padding-top: 37px;
                  padding-left: 3px;
                }
                .item-title.title_11 {
                  padding-top: 25px;
                }
                .item-title.title_12 {
                  padding-top: 34px;
                  margin-left: -1px;
                }
                .content {
                  margin-top: 20px;
                }
            }
        }
    }
  .section_body:after,.section_body:before {
    display: table;
    content: '';
  }
  .section_body:after {
    clear: both;
  }
}

#section_3 {
  background: #ffffff;
  padding-top: 56px;
  padding-bottom: 49px;
        .footer_button_section {
            p{
              padding-left: 12px;
            }
        }
}

#footer_section {
  .section;
  background: @bgblue;
  padding-top: 31px;
  padding-bottom: 18px;
    .section_body{
      width: 81.63%;
      margin: 0 auto;
      padding-right: 9px;
      position: relative;
          .footer_nav_menu {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
            width: 100%;
            margin-left: -3px;
            padding-right: 9px;
                  li {
                    //display: table-cell;
                    //width: 1%;
                    display: inline-block;
                    width: 24.63%;
                    border-left: 1px solid #ffffff;
                    padding-top: 2px;
                    padding-bottom: 3px;
                          a {
                            display: block;
                            position: relative;
                            margin: 0;
                            padding: 8px 0;
                            outline: 0;
                            line-height: normal;
                            border: 0;
                            text-align: center;
                            color: #747474;
                            cursor: pointer;
                            transition: all .2s;
                          }
                  }
                  li:last-child {

                    border-right: 1px solid #ffffff;

                  }
          }
          .footer_nav_menu:after,.footer_nav_menu:before {
            display: table;
            content: '';
          }
          .footer_nav_menu:after {
            clear: both;
          }
      .footer_bottom_section {
        margin-top: 20px;
            .footer_content {
              padding-top: 15px;
              padding-left: 63px;
                      p {
                        margin: 0;
                      }
                    p:last-child {
                      margin-top: -19px;
                    }
            }
            .box {
                p {
                  margin-left: -10px;
                  padding-top: 14px;
                }
            }
            .footer_right_logo {
                img {
                  padding-left: 5px;
                }
            }
      }
    }
  .section_body:after,.section_body:before {
    display: table;
    content: '';
  }
  .section_body:after {
    clear: both;
  }
}


/*
==============
LANDING PAGE
==============
*/

.lading_bg(@image){
  background: url(@image);
  background-repeat: no-repeat;
}
.box(@left,@bottom,@width){
  width: @width;
  margin-left: @left;
  margin-top: @bottom;
}

#land_section_1 {
  .lading_bg('../images/landing/section_1_img.png');
  height: 484px;
  overflow: hidden;
  position: relative;
      .box {
        .box(52%,17.3%,320px);
          .land_content {
            padding-top: 9px;
            padding-left: 0px;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            width: 93%;
            margin-top: 30px;
            margin-left: 3px;
            padding-bottom: 24px;
          }
      }
}

#land_section_2{
  .lading_bg('../images/landing/section_2_img.png');
  height: 720px;
  overflow: hidden;
  position: relative;
  .box {
    .box(69.6%,13.3%,320px);
    .land_content {
      padding-top: 9px;
      padding-left: 0px;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      width: 94%;
      margin-top: 31px;
      margin-left: 2px;
      padding-bottom: 16px;
    }
    .land_content_2 {
      .land_content;
      border-top: none;
      margin-top: 1px;
      padding-top: 0;
      padding-bottom: 17px;
          .section_logo {
            padding-top: 2px;
            margin-left: 0px;
            margin-bottom: 9px;
          }
    }
    .playstore {
      margin-top: 15px;
      padding-left: 4px;
          a {
            margin-right: 6px;
          }
    }
  }
}

#land_section_3 {
    #land_section_1;
  .lading_bg('../images/landing/section_3_img.png');
      .box {
        height: 486px;
        .box(11%,13.7%,387px);
          .land_content {
            padding-top: 8px;
            padding-bottom: 17px;

                p {
                  margin-left: -4px;
                }
          }
      }
}

#land_section_4 {
  #land_section_2;
  .lading_bg('../images/landing/section_4_img.png');
  .box {
    .box(51.3%,6.7%,320px);
      .land_content_2 {
        padding-top: 12px;
        margin-left: 0;
          .section_logo {
            margin-bottom: 18px;
            margin-left: -1px;

          }
      }
    .playstore {
      margin-top: 14px;
      padding-left: 0px;
    }
  }
}

#land_section_5 {
    #land_section_1;
  .lading_bg('../images/landing/section_5_img.png');
  .box {
    .box(27%,17.9%,358px);
        .land_content {
          margin-top: 32px;
          margin-left: -1px;
          padding-bottom: 17px;
        }
  }
}


#land_section_6 {
  #land_section_2;
  .lading_bg('../images/landing/section_6_img.png');
  .box {
    .box(69.6%,10.9%,319px);
    .land_content {
      padding-bottom: 16px;
    }
    .land_content_2 {
      padding-top: 12px;
      padding-bottom: 17px;
      .section_logo {
        margin-bottom: 15px;
        margin-left: -1px;

      }
    }
    .playstore {
      padding-left: 0;
    }
  }
}

#land_section_7 {
    #land_section_5;
  .lading_bg('../images/landing/section_7_img.png');
  height : 486px;
    .box {
      .box(59%,20.3%,365px);
        .land_content {
          padding-bottom: 0;
              p {
                height: 82px;
                margin-left: -9px;
              }
        }
    }
}
#land_section_8 {
  .lading_bg('../images/landing/section_8_img.png');
  height: 301px;
  overflow: hidden;
  position: relative;
  .box {
    .box(24.7%,9.6%,815px);
        .last_section_btn {
          margin-left: 12px;
              img {
                margin-top: -14px;
              }
        }
  }
}


/*
===============
SC-LANDING PAGE
===============
*/
#land_section_1.sc_landing_section_1 {
  .lading_bg('../images/landing/sc_landing_image_1.png');
    .box {
      .box(13.1%,17.4%,354px);
          .land_content {
            width: 96%;
            margin-left: -2px;
            margin-top: 31px;
            padding-bottom: 24px;
            padding-left: 1px;

          }
    }
}

#land_section_2.sc_landing_section_2 {
  .lading_bg('../images/landing/sc_landing_image_2.png');
      .box {
        .box(64.5%,12.3%,320px);
            .land_content {
              margin-top: 32px;
              margin-left: 2px;
              padding-bottom: 19px;
            }
            .land_content_2 {
              margin-left: 2px;
              padding-bottom: 20px;
                  .section_logo {
                    padding-top: 9px;
                    margin-left: -6px;
                    margin-bottom: 12px;
                  }
            }
      }
}


#land_section_3.sc_landing_section_3 {
  .lading_bg('../images/landing/sc_landing_image_3.png');
  height: 486px;
  .box {
    .box(54.9%,17.4%,325px);
    .land_content {
      width: 96%;
      margin-left: -2px;
      margin-top: 32px;
      padding-bottom: 24px;
      padding-left: 1px;
          p {
            margin-left: 3px;
          }
    }
  }
}


#land_section_4.sc_landing_section_4 {
  .lading_bg('../images/landing/sc_landing_image_4.png');
  .box {
    .box(16.8%,7.5%,320px);
    .land_content {
      margin-top: 31px;
      margin-left: -2px;
      padding-bottom: 18px;
    }
    .land_content_2 {
      margin-left: -1px;
      padding-bottom: 16px;
      .section_logo {
        padding-top: 3px;
        margin-left: -1px;
        margin-bottom: 17px;
      }
    }
    .playstore {
      margin-top: 15px;
      padding-left: 0px;
      margin-left: -3px;
    }
  }
}


#land_section_5.sc_landing_section_5 {
  .lading_bg('../images/landing/sc_landing_image_5.png');
  height: 486px;
  .box {
    .box(53.2%,19.4%,444px);
    .land_content {
      width: 96%;
      margin-left: -2px;
      margin-top: 32px;
      padding-bottom: 24px;
      padding-left: 1px;
      p {
        margin-left: 1px;
      }
    }
  }
}


#land_section_6.sc_landing_section_6 {
  .lading_bg('../images/landing/sc_landing_image_6.png');
  .box {
    .box(30.2%,14.4%,320px);
    .land_content {
      margin-top: 31px;
      margin-left: -2px;
      padding-bottom: 18px;
    }
    .land_content_2 {
      margin-left: -4px;
      padding-bottom: 22px;
      padding-top: 6px;
      .section_logo {
        padding-top: 0px;
        margin-left: 1px;
        margin-bottom: 17px;
      }
    }
    .playstore {
      margin-top: 15px;
      padding-left: 0px;
      margin-left: -2px;
    }
  }
}

#land_section_7.sc_landing_section_7 {
  .lading_bg('../images/landing/sc_landing_image_7.png');
  height: 485px;
  .box {
    .box(53.4%,21.6%,444px);
    .land_content {
      width: 96%;
      margin-left: -2px;
      margin-top: 31px;
      padding-bottom: 1px;
      padding-left: 1px;
      padding-top: 10px;
      p {
        margin-left: 1px;
      }
    }
  }
}


#land_section_8.sc_landing_section_8 {
  .lading_bg('../images/landing/sc_landing_image_8.png');
  height: 300px;
  overflow: hidden;
  position: relative;
  .box {
    .box(24.7%,9.4%,815px);
    .last_section_btn {
      margin-left: 14px;
      img {
        margin-top: 0;
      }
    }
  }
}

.modal_shadow {
  display: none;
}

/*
==============
MOBILE DEVICE
==============
*/


@media (max-width: 768px){

  body {
    .main-fonts;
    font-weight: 300;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .site_header {
      .site_logo{
        padding: 0;
          img {
            margin-left: 10px;
            margin-top: 0px;
            width: 72%;
          }
      }
    .site_title {
      padding-left: 6px;
      padding-right: 16px;
      padding-top: 11px;
    }
  }
  .slide_section {
    height: 223px;
  }

  .sp-bettons-section {
    img {
      width: 65%;
    }
    p {
      margin-bottom: 0;
    }
    label {
      .main-fonts;
      font-weight: 300;
      font-size: 1.3em;
    }
      .right_panel {
        padding-right:0;
          img {
            margin-top: -7px;
            padding-left: 1px;
          }
        p {
          padding-left: 11px;
        }
      }
      .left_panel {
        padding-left: 0;
          p {
            padding-left: 12px;
            margin-bottom: 0;
          }
        img {
          margin-top: -7px;
        }
      }
  }

  .slide_section {
    .home_page_cover {
      padding-bottom: 10px;
      img{
        width: 100%;
      }
    }
  }
  .title_sp {
    color: @colorBlue;
    border-top: 1px solid @colorBlue;
  }

  #section_1 {
    padding: 0;
    .mobile_title {
      .title_sp;
      font-size: 8px;
      padding-top: 6px;

    }
      .theme_logo {
        padding-right: 8px;
        padding-left: 0;
        .mobile_title {
          padding-left: 10px;
          padding-top: 8px;
        }
        img {
          margin-right: 0;
        }
        .main_logo {
            img {
              width: 80%;
              padding-top: 15px;
              margin-left: 0;
              margin-right: 4px;
            }
        }
      }
    .section_1_text {
      padding-left: 11px;
          .para-sm {
            margin-top: 15px;
              p {
                font-size: 8px;
                line-height: 20px;
              }
          }
    }
    .left_panel_logo {
      img {
        padding-top: 0;
        padding-right: 4px;
      }
    }
  }

  #section_2 {
    padding-top: 10px;
    margin-top: 9px;
    padding-bottom: 13px;
    .section_title {
       p {
         color: #ffffff;
         font-size: 13px;
         margin-bottom: 0;
       }
    }
    .section_body {
      width: 100%;
      margin-left: 0;
      padding-right: 0;
        .item_main_title {
          padding-bottom: 0;
            .title {
              border: none;
              font-size: 7px;
              text-align: center;
              margin-bottom: 3px;
            }
        }
        .special_sp_title {
            .title {
              margin-top: 0;
            }
        }
      .item {
        margin-bottom: 9px;
        padding-left: 10px;
        padding-right: 10px;
        .inner_item {
          background: #fff;
          border-radius: 2px;
          padding: 10px 10px 4px;
          height: auto;
          .title {
            font-size: 13px;
            padding-top: 11px;
            margin-bottom: 2px;
              img {
                width: 17%;
                margin-top: -17px;
              }
            img.canpassapp{
              width: 23%;
            }
            img.tadacopy {
              width: 26%;
            }
            img.unidol_logo {
              width: 27%;
            }
            img.capture_logo {
              width: 30%;
            }
            img.career_logo {
              width: 40%;
            }
            img.teppan_logo {
              width: 28%;
            }
            img.smart_logo {
              width: 21%;
            }
            img.tadacopy_logo {
              width: 29%;
            }
          }

          .desc {
            font-size: 9px;
            line-height: 16px;
            margin-bottom: 0;
            font-size: 8.5px;
          }
        }
      }
    }
  }
#section_3 {
  padding-top: 22px;
  padding-bottom: 11px;
  .footer_button_section {
    img {
      width: 88%;
      margin-left: -10px;
    }
  }

}

#footer_section {
  padding-top: 6px;
  padding-bottom: 4px;
  .section_body {
    width: 95.63%;
  }
  .footer_logo {
    padding: 0;
    img {
      width: 100%;
    }
  }
  .footer_slogans {
      padding:0;
      img {
        width: 100%;
        margin-left: 0px;
        padding-top: 1px;
        padding-left: 4px;
        }
      .title {
        font-size: 13px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        padding-top: 5px;
        padding-left: 4px;
        .main-fonts;
      }
      .copyright_footer_sp {
        font-size: 6.3px;
        color: #ffffff;
        margin-bottom: 0;
        padding-top: 8px;
        padding-left: 4px;
      }
      .oceanize_logo {
        position: absolute;
        top: 0;
        text-align: right;
        right: 0;
            img {
              width: 36%;
              margin-right: -6px;
              padding-top: 2px;

            }
      }
  }
}

.modal_shadow {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;

      .modal_main {
        width: 275px;
        height: auto;
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin: 55px auto;
        position: relative;
        margin-top: -800px;
            .modal_body {
              padding: 16px;
              padding-top: 24px;
              position: relative;
                .modal_para {
                    color: @colorBlue;
                  font-size: 10px;
                  line-height: 22px;

                }
                .modal_para.title {
                  font-size: 16px;
                  line-height: 26px;
                  padding-top: 5px;
                  margin-bottom: 5px;
                }
              .modal_para:last-child {
                margin-bottom: 0;
              }
            }
             .close {
              position:absolute;
              right: 16px;
              top: 10px;
              cursor: pointer;
          }
      }
}




/*
=============
LANDING PAGE DESIGN
=============
*/

  .mobile_section_bg {
    background-size: 100% 100%;
    background-position: contain;
    height: auto;
    overflow: hidden;

  }


#land_section_1 {
  .mobile_section_bg;
    .box {
      width: 160px;
      margin-left: 48%;
      margin-bottom: 10%;
        img {
          width: 30%;
        }
      .land_content{
        width: 74%;
        margin-top: 14px;
        margin-left: 3px;
        padding-bottom: 1px;
          img {
            width: 88%;
          }
      }
    }
}

#land_section_2 {
  .mobile_section_bg;
  height: 280px;
   .box {
     margin-left: 55%;
     width: 160px;
     margin-right: 0;
     margin-top: 5%;
     margin-bottom: 5%;
      .time {
        img {
          width: 30%;
        }
      }
     .land_content {
       position: relative;
       padding-bottom: 2px;
       margin-top: 10px;
        p {
          margin-bottom: 0;
        }
       img  {
         width: 60%;
       }
     }
     .land_content_2 {
       padding-bottom: 2px;
        .section_logo {
          img {
            width: 45%;
          }
        }
       img {
         width: 95%;
       }
     }
     .playstore {
       margin-top: 5px;
       img {
         width: 40%;
       }
     }
   }
}

#land_section_3 {
  background-size: 100% 100%;
  background-position: contain;
  height: auto;
  overflow: hidden;
    .box {
      height: auto;
      width: 160px;
      margin-bottom: 10%;
        .time {
          img {
            width:30%;
          }

        }
      .land_content {
        width: 100%;
        padding-bottom: 2px;
        margin-top: 10px;
        img {
          width: 100%;
        }
      }
    }
}
#land_section_4 {
  .mobile_section_bg;

    .box {
      margin-left: 10%;
      width: 160px;
      height:250px;
        .time {
            img {
              width: 30%;
            }
        }
      .land_content {
        padding-bottom: 2px;
        margin-top: 10px;
          p {
            margin-bottom: 0;
          }
        img {
          width: 80%;
        }
      }
      .land_content_2 {
        padding-top: 2px;
        padding-bottom:2px;
        .section_logo {
          margin-bottom: 2px;
          img {
            width: 40%;
          }

        }
        .section_content {
          position: relative;
          img {
            width: 100%;
          }
        }
      }
    }
  .playstore {
    margin-top: 2px;
    img {
      width: 40%;
    }
  }
}

.box {
  position: relative;
}
#land_section_5{
  .mobile_section_bg;
  .box {
      width: 160px;
      margin-left: 20%;
      margin-top:10%;
      margin-bottom:10%;
        .time {
          img {
            width: 30%;
          }
        }
      .land_content {
        padding-bottom: 2px;
        margin-top: 10px;
        img {
          width: 80%;
        }
      }
    }
}
#land_section_6 {
  .mobile_section_bg;
  .box {
        width: 160px;
        margin-left: 33.6%;
        position: relative;
        margin-top: 5.9%;
        margin-bottom: 5%;
        height: 250px;
          .time {
            img {
              width: 30%;
            }
          }
          .land_content {
            padding-bottom: 2px;
            margin-top: 10px;
            img {
              width: 80%;
            }
          }
          .land_content_2 {
            padding-top: 2px;
            padding-bottom: 2px;
            img {
              width: 80%;
            }
              .section_logo {
                img {
                  width: 65%;
                }
              }
          }
          //img {
          //  width: 100%;
          //}
      }
}

#land_section_7 {
  .mobile_section_bg;
    .box {
      width: 160px;
      margin-left: 10%;
      margin-bottom: 10%;
        .time {
          img {
            width: 35%;
          }
        }
        .land_content {
          margin-top: 10px;
          padding-bottom: 2px;
            p {
              margin-bottom: 0;
              height: auto;
            }
        }
          img {
            width: 100%;
          }
    }
}
  #land_section_8 {
    .mobile_section_bg;
      .box {
        width: 200px;
        margin: 10% auto;
          img {
            width: 100%;
          }
        .last_section_btn {
          margin-left: 0;
          margin-top: 16px;
          display: block;
          text-align: center;
              img {
                width: 88%;
              }
        }
      }
  }


  #land_section_1.sc_landing_section_1 {
      .mobile_section_bg;
      .box {
        width: 160px;
          .land_content {
            margin-top: 10px;
            padding-bottom: 2px;
          }
      }
  }


  #land_section_2.sc_landing_section_2 {
    .mobile_section_bg;
    .box {
      width: 160px;
      margin-left: 40.5%;
      margin-top: 5%;
      margin-bottom: 5%;
      height: 230px;
        .land_content {
          padding-bottom: 2px;
          margin-top: 10px;
        }
        .land_content_2 {
          padding-bottom: 2px;
        }
    }
  }

  #land_section_3.sc_landing_section_3 {
    .mobile_section_bg;
        .box {
          margin-left: 33%;
          width: 160px;
          .land_content {
            margin-top: 10px;
            padding-bottom: 2px;
                img {
                  width: 90%;
                }
          }
        }
  }


  #land_section_4.sc_landing_section_4 {
    .mobile_section_bg;
      .box {
        width: 160px;
        margin-bottom: 5%;
        height: 230px;
           .land_content {
             margin-top: 10px;
             padding-bottom: 2px;
           }
          .land_content_2 {
            padding-bottom: 2px;
          }
      }
  }
  #land_section_5.sc_landing_section_5 {
    .mobile_section_bg;
      .box {
        width: 160px;
        margin-left: 32.2%;
          .land_content {
            margin-top: 10px;
            padding-bottom: 2px;
          }
      }
  }
  #land_section_6.sc_landing_section_6 {
    .mobile_section_bg;
      .box {
        width: 160px;
        margin-left: 35.2%;
        margin-top: 5%;
        .land_content {
          margin-top: 10px;
          padding-bottom: 2px;
        }
        .land_content_2 {
          padding-top: 2px;
          padding-bottom: 2px;
            .section_logo {
              img {
                width: 40%;
              }
            }
        }
      }
    .playstore {
      img {
        width: 40%;
      }
    }
  }
  #land_section_7.sc_landing_section_7 {
    .mobile_section_bg;
      .box {
        width: 160px;
        margin-left: 30.4%;
        margin-top: 11.6%;
          .land_content {
            padding-bottom: 2px;
            margin-top: 10px;
          }
      }
  }
  #land_section_8.sc_landing_section_8 {
    .mobile_section_bg;
    .box {
      width: 200px;
      margin: 10% auto;
      img {
        width: 100%;
      }
      .last_section_btn {
        margin-left: 0;
        margin-top: 16px;
        display: block;
        text-align: center;
        img {
          width: 88%;
        }
      }
    }
  }
}

@media (max-width: 420px) {
    .box {

    }
}