@charset "utf-8";
body {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	color: #22170e;
	font-size: 16px;
	background: url(/common/img/bg.png) repeat;
	line-height: 1.5em;
	margin: 0;
	font-weight: 500;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
text-decoration:none;
}
a:hover {
	color:#444;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
opacity:0.6;
}
a:focus {
	outline:0;
}
a img:hover{
	opacity:0.6;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

.pc {
	display: block;
}
.sp {
	display: none;
}
strong {
	font-size: 1.2em;
	margin: 0.5em 0;
	color:#0f3f7a;
}
header {
	background:url(../img/mainimg.jpg) no-repeat #f6f8fa;
	background-position: center top; 
	border-top: #a9cee3 10px solid;
	width: 100%;
	height:550px;
}    
header .inner{
	height:550px;	
	position:relative;
}
header h1{
	position:absolute;
	bottom:40px;
	left:60px;
}
main {
	width: 100%;
	text-align: center;
}
main p {
	margin: 0 0 1.5em;
}
main section {
	margin: 0 0 4em;
}
.inner {
	width: 1080px;
	margin: 0 auto;
}
/*maincatch*/
#maincatch {
	background: #a9cee3;
	border-top: #ffe681 8px solid;
	height: 100px;
}
#maincatch h2 {
	color: #fff;
	font-size: 2em;
	padding: 1.2em 0 0.5em;
	width: 1080px;
	margin: 0 auto;
	text-shadow: -1px 2px 0 rgba(0,0,0,0.3);
}
#trouble {
	background: linear-gradient(#fff 5%, #eaf3f8 5%, #eaf3f8 50%, #eaf3f8 92%, #fff 92%, #fff);
}
/*solution*/
main #solutuion p{
	font-size:1.2em;
	margin:0 0 2em;
}
/*jobmesse*/
#jobmesse h2 {
	margin: 0 0 2em;
}
#jobmesse h3{
	font-size:1.2em;
}
h2.line {
	position: relative;
	text-align: center;
}
h2.line:before {
	border-top: 1px solid #a9cee3;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	z-index: -1;
	width: 100%;
}
h2.line span {
	background-color: white;
	display: inline-block;
	padding: 0 0.5em;
}
.btn{
	text-align:center;
	margin:2em 0;
}
.btn img{
	margin:0 auto;
}
/*point*/
#point {
	width: 100%;
	background: #f6f8fa;
	padding: 40px 0;
}
.pickup img{
	margin:2em auto 2.5em;
}
.half {
	width: 50%;
	float: left;
}
.half p {
	text-align: left;
	width: 480px;
	margin: 1em auto 0.5em;
	font-size: 0.9em;
}
.half h2.step1 {
	background: url(../img/point1.png) no-repeat 30px top;
	height: 88px;
	text-align: left;
	padding: 10px 0 0 140px;
	margin: 1em 0 0.5em;
	font-size: 1.2em;
}
.half h2.step2 {
	background: url(../img/point2.png) no-repeat 30px top;
	height: 78px;
	text-align: left;
	padding: 20px 0 0 140px;
	margin: 1em 0 0.5em;
	font-size: 1.2em;
}
.half h2.step1 span, .half h2.step2 span {
	font-size: 0.8em;
	font-weight: normal;
}
/*company*/
.company {
	border: #eaf3f8 8px solid;
	padding: 1em 2em 1em 3em;
	margin: 3em 0;
}
.company h2 {
	font-size: 1.4em;
	margin: 1em 0;
}
.company ul li {
	float: left;
	margin-right: 1.5em;
}
.company ul li:last-child {
	margin-right: 0;
}
/*success*/
#success {
	background: #eaf3f8;
	width: 100%;
	height: 490px;
}
#success .inner {
	position: relative;
}
#success img {
	position: absolute;
	left: 0;
	top: 90px;
}
#success .message {
	position: absolute;
	left: 50%;
	top: 80px;
	text-align: left;
}
#success .message h2 {
	font-size: 1.5em;
	margin: 0 0 1em;
	border-bottom:1px solid #bfd4e0;
	padding:0 0 0.5em;
}
#success .message p {
	font-size: 0.9em;
	margin-left: 1em;
}
/*event*/
.schedule {
	position: relative;
	width: 790px;
	margin: 3em auto 1em;
}
.schedule p {
	position: absolute;
	bottom: 0.1em;
	right: 1em;
	font-size: 0.9em;
}
ul.event-for li {
	background: url(../img/event-bg.jpg) no-repeat;
	height: 120px;
	float: left;
	width: 287px;
	margin: 2em 1.5em;
	font-size: 0.9em;
	text-align: left;
	padding: 35px 0 0 25px;
}
ul.event-for li span{
	padding-left:20px;
	background:url(../img/check.png) no-repeat top left;
}
ul.event-for li:nth-child(2) {
	padding: 10px 0 0 25px;
}
/*access*/
main section#access{
	margin: 0 0 6em;
}
	
.ggmap {
	position: relative;
	padding-bottom: 30.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin: 0 0 2em;
}
.ggmap iframe, .ggmap object, .ggmap embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
}
div.iframeWrapper {
	position: relative;
	width: 100%;
	padding-top: 75%;
}
div.iframeWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
footer{
	width:100%;
	background:#eaf3f8;
	background: linear-gradient(#eaf3f8 90%, #eaf3f8 90%, #b9cfdc 90%, #b9cfdc);
	padding:2em 0 0;
}
footer .inner p{
	margin:0 0 1.5em;
}
footer .inner p.copyright{
	text-align:center;
	margin:0;
	color:#fff;
	font-size:0.9em;
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media screen and (min-width: 1480px) {
	.ggmap {
	padding-bottom: 25.25%;
}
}
@media screen and (max-width: 768px) {
body {
	font-size: 15px;
}
.pc {
	display: none;
}
.sp {
	display: block;
}
.br-sp {
	display: none;
}
img {
	max-width: 100%;
}
header {
	background:url(../img/mainimg_sp.jpg) no-repeat;
	border-top: #a9cee3 5px solid;
	width: 100%;
	height: 0;
    /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
    padding-top: 108.07%;
    background-size: contain;
}    
header .inner{
	position:relative;
	height: 0;
    /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
    padding-top: 108.07%;
}
header h1{
	position: absolute;
    top: -15%;
    left: 5px;
    width: 67%;
}
main p {
	margin: 0 0 1em;
}
main section {
	margin: 0 0 3em;
}
.inner {
	width: 100%;
	margin: 0 auto;
}
/*maincatch*/
#maincatch {
	border-top: #ffe681 5px solid;
	height:90px;
}
#maincatch h2 {
	color: #fff;
	font-size: 24px;
	padding: 1.2em 0 0.5em;
	width: 100%;
}
#trouble {
	background: none;
}
/*jobmesse*/
#jobmesse h2 {
	margin: 3em 0 2em;
	width: 100%;
}
main #jobmesse p{
	margin:0 0 2em;
}

/*point*/
#point {
	width: 100%;
	background: none;
	padding: 2em 0 0;
}
.half {
	width: 100%;
	float: none;
	margin: 0 0 3em;
}
.half p {
	text-align: left;
	width: 95%;
}

.company {
	border: #eaf3f8 8px solid;
	padding: 0.5em 1em 0.5em 1em;
	margin: 3em 0;
}
.company ul li {
	float: left;
	margin-right: 1.5em;
}
.company ul li:last-child {
	margin-right: 0;
}
.btn img{
	width:80%;
}
/*success*/
#success {
	height: auto;
	padding: 0 0 4em;
}
#success .inner {
	position: static;
}
#success img {
	position: static;
	margin: 0;
}
#success .message {
	position: static;
	margin: 0 auto 1em;
}
#success .message h2 {
	font-size: 20px;
	margin: 1em 0 1em;
	line-height: 1.3em;
}
#success .message p {
	font-size: 0.9em;
	margin-left: 1em;
}
/*schedule*/
#schedule h2{
	font-size:1.4em;
}
.schedule {
	position: static;
	width:100%;
}
.schedule img{
	max-width:100%;
}
.schedule p {
	position: static;
	text-align:right;
	font-size:12px;
}
ul.event-for li {
	background: #fcf9e9;
	float: none;
	width: 93%;
	height: auto;
	margin: 1em auto;
	padding: 1em;
}
ul.event-for li p {
	margin: 0;
}
ul.event-for li:nth-child(2) {
	padding: 1em;
}
/*access*/
#access .h2 h2{
	width:100%;
}
.ggmap {
	padding-bottom: 70.25%;
}
footer .inner p, footer .inner h2{
	margin:0 5px 1.5em;
}
}
@media screen and (max-width: 414px) {
h2.line {
	position: static;
}
h2.line:before {
	border-top: none;
	position: static;
}
h2.line span {
	padding: 0;
}
.half h2.step1 {
	height: auto;
	text-align: left;
	padding: 10px 0 10px 85px;
	margin: 1em 0 0.5em;
	font-size: 1.2em;
	background-size: 16%;
	background-position: 5px 10px;
	border-top: #a9cee3 dotted 2px;
	border-bottom: #a9cee3 dotted 2px;
}
.half h2.step2 {
	height: auto;
	text-align: left;
	padding: 10px 0 10px 85px;
	margin: 1em 0 0.5em;
	font-size: 1.2em;
	background-size: 16%;
	background-position: 5px 10px;
	border-top: #ffe681 dotted 2px;
	border-bottom: #ffe681 dotted 2px;
	min-height: 3.5em;
}
.half h2.step1 span, .half h2.step2 span {
	font-size: 0.8em;
	font-weight: normal;
}
}